
.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    width: 98vw;
}

.sidebar {
    width: 250px;
    background-color: #F8F4E9;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    height: 91vh;

}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content {
    width: calc(100vw - 250px);
}

.page-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    color: #2c250a;
    padding: 2rem;
    margin-bottom: 0;
}

.sidebar-header {
    padding: 1rem 1rem 1rem 1.5rem;
    color: #2c250a;
    font-size: 1.5rem;
}

:host ::ng-deep .p-button {
    color: #2c250a;
}

:host ::ng-deep .p-button-label {
    padding-left: 1rem;}

:host ::ng-deep .p-button-text:active {
    color: #2c250a;
    background-color: rgba(200, 194, 182, 0.54);
}

:host ::ng-deep .p-button-text:hover {
    color: #2c250a;
}


:host ::ng-deep .p-button {
    width: 90%;
    align-items: start;
    justify-content: start;
}

.card-section {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}


.card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    height: 20vh;
    margin: 0 3rem 1rem 3rem;
    color: black;
}

.card:hover {
    transform: scale(1.05);
}

.content-panel {
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 16px;
    text-align: center;
    flex-direction: column;
    color: black;
}

.main-section {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    height: calc(100vh - 30vh);
}

.static-card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
    color: black;
    width: 100%;
}


.card.selected {
    background-color: #fff;
    border: 2px solid #c3afa1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-buttons {
    padding: 1rem;
}

.static-section-headers {
    font-size: 1.25rem;
    color: #2c250a;
}

:host ::ng-deep .p-tabpanels {
    background-color: transparent;
}

:host ::ng-deep .p-tab{
    padding-left: 3rem;
    padding-right: 3rem;
}

:host ::ng-deep .p-tablist-active-bar {
    background-color: transparent;
}

:host ::ng-deep .p-tablist-tab-list {
    background-color: transparent;
    justify-content: center;
    border-color: transparent;
}

:host ::ng-deep .p-tab-active {
    background: transparent;
    border-color: #2c250a;
    color: #2c250a;
}

.requests-main-section {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    height: calc(100vh - 35vh);
}

:host ::ng-deep .p-paginator {
    padding: 1rem;
    background: transparent;
}

.column-cards {
    height: calc(100vh - 40vh);
}