<app-navbar></app-navbar>
<div class="container">
    <exchanges-sidebar/>
    <div class="content">
        <p class="page-title">{{Title}}</p>
        <div *ngIf="activeExchanges.length != 0 || isLoading"  class="main-section">
            <div style="grid-column: 1;" class="column-cards">
                <div class="card-section" style="align-content: center;text-align: center" *ngIf="isLoading">
                    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                </div>
                <div *ngIf="activeExchanges.length != 0 && !isLoading" class="card-section" >
                    <div
                            class="card"
                            *ngFor="let card of activeExchanges"
                            (click)="selectCard(card)"
                            [class.selected]="selectedCard === card"
                    >
                        <div class="active-card-first-column">
                            <div class="active-card-first-column-book-first">
                                <img [src]="!isRequester(card)? getBookImage(card.offeredPub.book) : getBookImage(card.requestedPub.book)"
                                     alt="Book Image"
                                     class="book-image"/>

                                <p style="margin-bottom: 0">
                                    {{ !isRequester(card) ? card.offeredPub.book.model?.title : card.requestedPub.book.model?.title }}
                                </p>
                            </div>
                            <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                            <div class="active-card-first-column-book-second">
                                <img [src]="!isRequester(card) ? getBookImage(card.requestedPub.book) : getBookImage(card.offeredPub.book)" alt="Book Image" class="book-image"/>
                                <p style="margin-bottom: 0">
                                    {{ !isRequester(card) ? card.requestedPub.book.model?.title : card.offeredPub.book.model?.title }}
                                </p>
                            </div>
                        </div>
                        <div class="active-card-second-column">
                            <p-steps [model]="steps" [activeIndex]="1" [readonly]="true" />
                            <div *ngIf="isRequester(card)? !card.exchange.requester_received : !card.exchange.offerer_received">
                                <p-button class="confirm-button" styleClass="confirm-button" label="{{ 'EXCHANGES.CONFIRM_LABEL' | translate}}" (click)="showConfirmExchangeDialog(card, isRequester(card))" />
                            </div>
                            <div *ngIf="isRequester(card)? card.exchange.requester_received : card.exchange.offerer_received">
                                <span style="margin-top: 1rem;font-size: 12px;padding: 0.5rem;background: lightgray" class="exchange-completed-span" >{{ 'EXCHANGES.ALREADY_CONFIRMED_SPAN' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <app-paginator [pagination]="pagination" [fetchMethod]="getActive.bind(this)"></app-paginator>
            </div>

            <div class="content-panel" style="align-content: center;text-align: center" *ngIf="isLoading">
                <div class="emtpy-content-panel">
                    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                </div>
            </div>
            <div *ngIf="selectedCard && !isLoading" class="content-panel" id="content-panel">
                <div class="static-card user-card" id="user-card">
                    <div style="grid-column: 1">
                        <div class="user-card-image"></div>
                    </div>
                    <div style="grid-column: 2; text-align: start;">
                        <p class="user-card-name">{{ isRequester(selectedCard) ? selectedCard.offeredPub.book.owner?.username :
                            selectedCard.requestedPub.book.owner?.username }}</p>
                        <p class="user-card-email">{{ isRequester(selectedCard) ? selectedCard.offeredPub.book.owner?.mail :
                            selectedCard.requestedPub.book.owner?.mail }}</p>
                        <p-rating [(ngModel)]="selectedUserRating" [disabled]="true" />
                    </div>
                    <div style="grid-column: 3; align-content: center;text-align: end;">
                        <i style="font-size: xx-large;font-weight: lighter;cursor: pointer" class="pi pi-comment icon-card-active" (click)="openChat()"></i>
                    </div>
                </div>
                <p class="static-section-headers">{{ 'EXCHANGES.THEIR_BOOK' | translate }}</p>
                <div class="static-card book-theirs-card" id="book-theirs-card">
                    <div style="grid-column: 1;justify-items: center;">
                        <img [src]="isRequester(selectedCard)? getBookImage(selectedCard.offeredPub.book) : getBookImage(selectedCard.requestedPub.book)"
                             alt="Book Image"
                             class="book-image-static"/>
                    </div>
                    <div style="grid-column: 2; text-align: start;">
                        <p class="book-card-title">{{ isRequester(selectedCard) ? selectedCard.offeredPub.book.model?.title :
                            selectedCard.requestedPub.book.model?.title }}</p>
                        <p class="book-card-author">{{ isRequester(selectedCard) ? selectedCard.offeredPub.book.model?.authors :
                            selectedCard.requestedPub.book.model?.authors }}</p>
                        <p class="book-card-description">
                            {{ isRequester(selectedCard) ? selectedCard.offeredPub.book.model?.description :
                            selectedCard.requestedPub.book.model?.description }}
                        </p>
                    </div>
                </div>
                <p class="static-section-headers">{{ 'EXCHANGES.FOR_YOUR_SUBHEADER' | translate}}</p>
                <div class="static-card book-yours-card" id="book-yours-card">
                    <div style="grid-column: 1;justify-items: center;">
                        <img [src]="!isRequester(selectedCard)? getBookImage(selectedCard.offeredPub.book) : getBookImage(selectedCard.requestedPub.book)"
                             alt="Book Image"
                             class="book-image-static"/>
                    </div>
                    <div style="grid-column: 2; text-align: start;">
                        <p class="book-card-title">{{ isRequester(selectedCard) ? selectedCard.requestedPub.book.model?.title :
                            selectedCard.offeredPub.book.model?.title }}</p>
                        <p class="book-card-author">{{ isRequester(selectedCard) ? selectedCard.requestedPub.book.model?.authors :
                            selectedCard.offeredPub.book.model?.authors }}</p>
                        <p class="book-card-description">
                            {{ isRequester(selectedCard) ? selectedCard.requestedPub.book.model?.description :
                            selectedCard.offeredPub.book.model?.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="!selectedCard && !isLoading">
                <div class="emtpy-content-panel">
                    <p class="text-empty">{{ 'EXCHANGES.SELECT_CARD' | translate}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="activeExchanges.length === 0 && !isLoading" class="card-section-empty">
            <p class="text-empty">{{ 'EXCHANGES.NO_ACTIVE_EXCHANGES' | translate}}</p>
            <p-button styleClass="empty-button" label="{{ 'EXCHANGES.SEE_PUBLICATIONS' | translate}}" icon="pi pi-search" (click)="redirectToPublications()" />
        </div>
    </div>
</div>

<p-dialog [contentStyle]="{ 'overflow-y': 'hidden'}" *ngIf="selectedCard" header="{{ 'EXCHANGES.CHAT' | translate}}" [modal]="true" [(visible)]="displayModal" [style]="{ width: '25rem', height: '50vh' }">
    <div class="chat-container">
        <div class="chat-messages">
            <div class="message" *ngFor="let message of selectedCard.messages; let i = index; trackBy: trackByMessage;">
                <div style="margin:1rem" *ngIf="i === 0 || !isSameDay(message.time, selectedCard.messages[i - 1].time)">
                    <span  class="date-separator">
                        {{ getDay(message.time) }} de {{ getMonthName(getMonth(message.time)) }}
                    </span>
                </div>
                <div [ngClass]="message.user === loggedUser?.self ? 'outgoing' : 'incoming'" class="message">
                    <p>{{ message.message }}</p>
                    <span class="message-time">
                        {{ getHour(message.time) }} : {{ getMinute(message.time) }}
                    </span>
                </div>
            </div>

        </div>
        <div class="chat-input p-inputgroup">
            <input
                    pInputText
                    placeholder="{{ 'EXCHANGES.WRITE_MESSAGE_PLACEHOLDER' | translate}}"
                    [(ngModel)]="newMessage"
                    (keydown.enter)="sendMessage()"
            />
            <button class="chat-send" pButton icon="pi pi-send" (click)="sendMessage()"></button>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="confirmExchangeDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <span class="font-bold whitespace-nowrap">{{ 'EXCHANGES.CONFIRM_ALT' | translate}}</span>
        </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block">{{ 'EXCHANGES.CONFIRM_DESCRIPTION' | translate}}</span>
    <ng-template #footer>
        <p-button label="{{ 'EXCHANGES.CANCEL' | translate}}" [raised]="true" severity="secondary" (click)="confirmExchangeDialogVisible = false" />
        <p-button label="{{ 'EXCHANGES.CONFIRM_LABEL' | translate}}" [raised]="true" severity="contrast" [class]="'confirm-button-d'" [style]="{color: 'white'}" (click)="confirmExchange(confirmData.card, confirmData.requester)" />
    </ng-template>
</p-dialog>