
.container {
    display: grid;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
    grid-template-columns: 15% 83%;
    gap: 2%;
}

.sidebar {
    width: 100%;
    background-color: #f8f4e9;
    box-shadow: 0 20px 15px #0000004d;
    padding: .5rem;
    height: 92.3vh;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}


.page-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    color: #2c250a;
    padding: 2rem;
    margin-bottom: 0;
}

.sidebar-title {
    font-size: larger;
    padding: 1rem;
    margin: 1rem;}

:host ::ng-deep .p-button {
    width: 100%;
    text-align: start;
    justify-content: start;
}

:host ::ng-deep .p-button-text {
    color: #2c250a;
    justify-content: start;
    margin-bottom: 0.5rem;
}

:host ::ng-deep .p-button-text:active {
    color: #2c250a;
    background-color: rgba(200, 194, 182, 0.54);
}

:host ::ng-deep .p-button-text:hover {
    color: #2c250a;
}


:host ::ng-deep .p-button .sidebar-buttons {
    width: 90%;
    align-items: start;
    justify-content: start;
}

.sidebar-content {
    height: 76vh;
}

.card-section {
    padding: 20px;
    width: 95%;
    overflow-y: auto;
    height: 100%;
}

.card-section-empty {
    align-content: center;
    justify-items: center;
    height: 60vh;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    height: 25vh;
    margin: 1.5rem;
    color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
}

.card:hover {
    transform: scale(1.05);
}

.content-panel {
    display: grid;
    align-items: start;
    justify-content: start;
    font-size: 16px;
    text-align: start;
    color: #000;
    width: 100%;
    padding: 0 1rem 0 0;
    height: 100%;
    grid-template-rows: 15vh 3vh 23vh 3vh 23vh;
    gap: 2%;
}
.content-panel-w-tabs {
    display: grid;
    align-items: start;
    justify-content: start;
    font-size: 16px;
    text-align: start;
    color: #000;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
    grid-template-rows: 13vh 2vh 22vh 2vh 22vh;
    gap: .5rem;
}

.empty-content-panel {
    display: grid;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 65vh;
}

.main-section {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 2%;
    height: 74vh;
}

.static-card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
    color: black;
    width: 100%;
}


.card.selected {
    background-color: #fff;
    border: 2px solid #c3afa1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-buttons {
    padding: 1rem;
}

.static-section-headers {
    font-size: small;
    color: #2c250a;
    margin: 0.75rem
}

.static-section-headers-tabs {
    font-size: small;
    color: #2c250a;
    margin: 0
}

.user-card-review {
    font-size: small;
}

:host ::ng-deep .p-tabpanels {
    background-color: transparent;
    padding: 0;
}

:host ::ng-deep .p-tab{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: small;
}

:host ::ng-deep .p-tablist-active-bar {
    background-color: transparent;
}

:host ::ng-deep .p-tablist-tab-list {
    background-color: transparent;
    justify-content: center;
    border-color: transparent;
}

:host ::ng-deep .p-tab-active {
    background: transparent;
    border-color: #2c250a;
    color: #2c250a;
}

.requests-main-section {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 2%;
    height: 68vh;
}
.rejected-main-section {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 2%;
    height: 68vh;
}
.completed-main-section {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 2%;
    height: 68vh;
}

:host ::ng-deep .p-paginator {
    padding: 1rem;
    background: transparent;
}

.column-cards {
    height: calc(100vh - 40vh);
}

.active-card-first-column {
    grid-column: 1;
    display: grid;
    grid-template-columns: 35% 6% 35%;
    gap: 5%;
    align-content: center;
    padding: 1rem;
    justify-content: center;
    font-size: x-small;
}

.active-card-first-column-book-first {
    grid-column: 1;
    text-align: center;
    font-size: small;

    overflow: hidden;
    text-overflow: ellipsis;
}

.active-card-first-column-book-second {
    grid-column: 3;
    text-align: center;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;


}

.active-card-second-column {
    grid-column: 2;
    padding: 1rem;
    align-content: center;
    text-align: center;

}
.requests-second-column {
    grid-column: 2;
    padding: 1rem;
    align-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}


:host ::ng-deep .p-steps-item-active .p-steps-item-number {
    color: #939291;
    border-color: #939291;
}

:host ::ng-deep .p-steps-item-active .p-steps-item-label {
    color: #2c250a;
}
:host ::ng-deep  .p-steps-item-label {
    text-wrap: auto;
    text-align: center;
    width: 5.5rem;
    font-size: x-small;
}

:host ::ng-deep  .p-steps-list {
    margin: 1rem
}

:host ::ng-deep .confirm-button {
    background: #e6d8c9;
    border-radius: 10px;
    font-size: smaller;
    border: none;
    width: auto;
}

:host ::ng-deep .confirm-button:hover {
    background: #c3afa1;
    border: none;

}

:host ::ng-deep .p-button-label {
    font-size: small;
    padding: 0;
    color: #2c250a;
    font-variant: none;

}

:host ::ng-deep .p-button-label .confirm-button-label {
    font-size: medium;
}


.book-image {
    border-radius: 5px;
    height: 13vh;
    background-color: darkgray;
    width: 5vw;
    justify-self: center;
}

.icon-card-active {
    text-align: center;
    align-content: center;
}

.user-card {
    display: grid;
    grid-template-columns: 25% 40% 20%;
    gap: 5%;
    height: 100%;
    padding: 1rem;
}

.user-card-name {
    font-size: large;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.user-card-email {
    font-size: medium;
}

.user-card-image {
    border-radius: 10vh;
    background-color: darkgray;
    height: 10vh;
    width: 5vw;
}

:host ::ng-deep .chat-input {
    width: auto;
    padding: 0.75rem;
}

:host(::ng-deep) .p-inputtext:enabled:focus {
    border-color: #a7a096;
}

:host ::ng-deep .p-button-icon-only.chat-send{
    width: auto;
    padding: 0.75rem;
    background: #b6ab89;
    border: none;
}

:host ::ng-deep .chat-send.p-button-icon-only:hover{
    width: auto;
    padding: 0.75rem;
    background: #b6ab89;
    border: none;
}



.message {
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
    text-align: center;
}

.incoming {
    background-color: #e1e1e1;
    margin-right: 5%;
    text-align: start;
}

.outgoing {
    background-color: #f2f2f2;
    text-align: right;
    margin-left: 5%;

}

.message p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.message-time {
    font-size: 10px;
    color: #666;
    position: relative;
    bottom: 5px;
    right: 10px;
    left: 3px;
    top: 5px;
}

.date-separator {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 10px 0;
}

.chat-messages {
    text-align: start;
    overflow-y: scroll;
    height: 33vh;
}

.book-theirs-card   {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    height: 100%;
    width: 30vw;
}

.book-yours-card {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    height: 100%;
    width: 30vw;
}
.book-theirs-card-w-tabs   {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    height: 100%;
    width: 30vw;
}

.book-yours-card-w-tabs {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    height: 100%;
}

.book-image-static {
    height: 19vh;
    background: darkgray;
    border-radius: 0.5rem;
    width: 7vw;
}

.book-card-title {
    font-size: large;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.book-card-author {
    font-size: small;
}
.book-card-description {
    font-size: x-small;
    overflow-y: auto;
    height: 27%;
}


.exchange-solicited-span {
    background: #cdd7ce;
    padding: 1rem;
    border-radius: 2rem;
    font-size: small;
}

.exchange-completed-span {
    background: #efe9d5;
    padding: 1rem;
    border-radius: 2rem;
    font-size: small;
}

.exchange-rejected-span {
    background: #b2b2b2;
    padding: 1rem;
    border-radius: 2rem;
    font-size: small;
}

:host ::ng-deep .p-button.exchange-reject-button {
    width: auto;
    background: #a38686;
    border: none;
    color: white;
    margin: 2rem;
    font-size: small;
}

:host ::ng-deep .p-button.exchange-accept-button {
    width: auto;
    background: #97ad85;
    border: none;
    color: white;
    margin: 2rem;
    font-size: small;
}


:host ::ng-deep .p-popover  {
    width: 18vw;
}

:host ::ng-deep .p-textarea {
    width: 100%;
}

.text-empty {
    width: auto;
    text-align: center;
}


:host ::ng-deep .p-button.empty-button {
    color: black;
    background: #b6ab89;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

:host ::ng-deep .p-dialog-header {
    font-size: 1.5rem;
}


:host ::ng-deep .p-button-text.p-button-secondary {
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
}



:host ::ng-deep .confirm-button-d button span.p-button-label {
    color: white;
    font-weight: normal;
}


