<app-navbar></app-navbar>
<div class="container">
    <exchanges-sidebar/>
    <div class="content">
        <p class="page-title">{{Title}}</p>
        <div class="main-section">
            <div style="grid-column: 1;" class="column-cards">
                <div class="card-section">
                    <div
                            class="card"
                            *ngFor="let card of ['Tarjeta 1', 'Tarjeta 2', 'Tarjeta 3', 'Tarjeta 4', 'Tarjeta 5', 'Tarjeta 6']"
                            (click)="selectCard(card)"
                            [class.selected]="selectedCard === card"
                    >
                        <div class="active-card-first-column">
                            <div class="active-card-first-column-book-first">
                                <div class="book-image"></div>
                                <p style="margin-bottom: 0">Book title wrapped</p>
                            </div>
                            <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                            <div class="active-card-first-column-book-second">
                                <div class="book-image"></div>
                                <p style="margin-bottom: 0">Book title wrapped</p>
                            </div>
                        </div>
                        <div class="active-card-second-column">
                            <p-steps [model]="steps" [readonly]="true" />
                            <p-button class="confirm-button" styleClass="confirm-button" label="confirmar" (click)="confirmExchange(card)" />
                        </div>
                    </div>
                </div>
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" />
            </div>

            <div class="content-panel" id="content-panel">
                <div class="static-card" id="user-card">{{ selectedCard || 'Selecciona una tarjeta' }}</div>
                <p class="static-section-headers">El libro</p>
                <div class="static-card" id="book-theirs-card">Intercambio: {{ selectedCard || 'Selecciona una tarjeta' }}</div>
                <p class="static-section-headers">Por tu libro</p>
                <div class="static-card" id="book-yours-card">Tu libro: {{ selectedCard || 'Selecciona una tarjeta' }}</div>
            </div>
        </div>
    </div>
</div>
