<app-navbar></app-navbar>
<div class="container">
    <exchanges-sidebar/>
    <div class="content">
        <p class="page-title">{{Title}}</p>
        <div  *ngIf="activeExchanges.length != 0"  class="main-section">
            <div style="grid-column: 1;" class="column-cards">
                <div class="card-section" style="align-content: center;text-align: center" *ngIf="isLoading">
                    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                </div>
                <div class="card-section" *ngIf="!isLoading">
                    <div
                            class="card"
                            *ngFor="let card of activeExchanges"
                            (click)="selectCard(card)"
                            [class.selected]="selectedCard === card"
                    >
                        <div class="active-card-first-column">
                            <div class="active-card-first-column-book-first">
                                <img [src]="loggedUser === card.offeredPub.book.owner ? getBookImage(card.offeredPub.book) : getBookImage(card.requestedPub.book)"
                                     alt="Book Image"
                                     class="book-image"/>

                                <p style="margin-bottom: 0">
                                    {{ loggedUser === card.offeredPub.book.owner ? card.offeredPub.book.model?.title : card.requestedPub.book.model?.title }}
                                </p>
                            </div>
                            <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                            <div class="active-card-first-column-book-second">
                                <img [src]="loggedUser === card.offeredPub.book.owner ? getBookImage(card.requestedPub.book) : getBookImage(card.offeredPub.book)" alt="Book Image" class="book-image" fill/>
                                <p style="margin-bottom: 0">
                                    {{ loggedUser === card.offeredPub.book.owner ? card.requestedPub.book.model?.title : card.offeredPub.book.model?.title }}
                                </p>
                            </div>
                        </div>
                        <div class="active-card-second-column">
                            <p-steps [model]="steps" [activeIndex]="1" [readonly]="true" />
                            <div *ngIf="loggedUser === card.offeredPub.book.owner? !card.exchange.offerer_received : !card.exchange.requester_received">
                                <p-button class="confirm-button" styleClass="confirm-button" label="confirmar" (click)="confirmExchange(card)" />
                            </div>
                            <div *ngIf="loggedUser === card.offeredPub.book.owner? card.exchange.offerer_received : card.exchange.requester_received">
                                <span style="margin-top: 1rem;font-size: 12px;padding: 0.5rem;background: lightgray" class="exchange-completed-span" >Ya has confirmado</span>
                            </div>
                        </div>
                    </div>
                </div>
                <p-paginator (onPageChange)="onPageChange($event)" [first]="currentPage" [rows]="rows" [totalRecords]="totalRecords" />
            </div>

            <div class="content-panel" style="align-content: center;text-align: center" *ngIf="isLoading">
                <div class="emtpy-content-panel">
                    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                </div>
            </div>
            <div *ngIf="selectedCard" class="content-panel" id="content-panel">
                <div class="static-card user-card" id="user-card">
                    <div style="grid-column: 1">
                        <div class="user-card-image"></div>
                    </div>
                    <div style="grid-column: 2; text-align: start;">
                        <p class="user-card-name">{{ isRequester(selectedCard) ? selectedCard?.offeredPub?.book?.owner?.username :
                            selectedCard?.requestedPub?.book?.owner?.username }}</p>
                        <p class="user-card-email">{{ isRequester(selectedCard) ? selectedCard?.offeredPub?.book?.owner?.username :
                            selectedCard?.requestedPub?.book?.owner?.mail }}</p>
                        <p-rating [(ngModel)]="selectedUserRating" [disabled]="true" />
                    </div>
                    <div style="grid-column: 3; align-content: center;text-align: end;">
                        <i style="font-size: xx-large;font-weight: lighter;cursor: pointer" class="pi pi-comment icon-card-active" (click)="openChat()"></i>
                    </div>
                </div>
                <p class="static-section-headers">El libro</p>
                <div class="static-card book-theirs-card" id="book-theirs-card">
                    <div style="grid-column: 1;justify-items: center;">
                        <div class="book-image-static"></div>
                    </div>
                    <div style="grid-column: 2; text-align: start;">
                        <p class="book-card-title">{{ isRequester(selectedCard) ? selectedCard?.offeredPub?.book?.model?.title :
                            selectedCard?.requestedPub?.book?.model?.title }}</p>
                        <p class="book-card-author">{{ isRequester(selectedCard) ? selectedCard?.offeredPub?.book?.model?.authors :
                            selectedCard?.requestedPub?.book?.model?.authors }}</p>
                        <p class="book-card-description">
                            {{ isRequester(selectedCard) ? selectedCard?.offeredPub?.book?.model?.description :
                            selectedCard?.requestedPub?.book?.model?.description }}
                        </p>
                    </div>
                </div>
                <p class="static-section-headers">Por tu libro</p>
                <div class="static-card book-yours-card" id="book-yours-card">
                    <div style="grid-column: 1;justify-items: center;">
                        <div class="book-image-static"></div>
                    </div>
                    <div style="grid-column: 2; text-align: start;">
                        <p class="book-card-title">{{ isRequester(selectedCard) ? selectedCard?.requestedPub?.book?.model?.title :
                            selectedCard?.offeredPub?.book?.model?.title }}</p>
                        <p class="book-card-author">{{ isRequester(selectedCard) ? selectedCard?.requestedPub?.book?.model?.authors :
                            selectedCard?.offeredPub?.book?.model?.authors }}</p>
                        <p class="book-card-description">
                            {{ isRequester(selectedCard) ? selectedCard?.requestedPub?.book?.model?.description :
                            selectedCard?.offeredPub?.book?.model?.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="!selectedCard">
                <div class="emtpy-content-panel">
                    <p class="text-empty">Selecciona una tarjeta para más detalles</p>
                </div>
            </div>
        </div>
        <div *ngIf="activeExchanges.length === 0 && !isLoading" class="card-section-empty">
            <p class="text-empty">No tienes intercambios activos</p>
            <p-button styleClass="empty-button" label="Ver publicaciones" icon="pi pi-search" (click)="redirectToPublications()" />
        </div>
    </div>
</div>

<p-dialog header="Chat" [modal]="true" [(visible)]="displayModal" [style]="{ width: '25rem' }">
    <div class="chat-container">
        <div class="chat-messages">
            <div class="message" *ngFor="let message of messages">
                <div *ngIf="message.date !== lastDate">
                    <span class="date-separator">{{ message.date.getDay() }} de {{getMonthName(message.date.getMonth())}}</span>
                </div>
                <div [ngClass]="message.sender == 1 ? 'outgoing' : 'incoming'" class="message">
                    <p>{{ message.message }}</p>
                    <span class="message-time">{{ message.date.getHours() }} : {{ message.date.getMinutes() }}</span>
                </div>
            </div>
        </div>
        <div class="chat-input p-inputgroup">
            <input
                    pInputText
                    placeholder="Escribe un mensaje..."
                    [(ngModel)]="newMessage"
                    (keydown.enter)="sendMessage()"
            />
            <button class="chat-send" pButton icon="pi pi-send" (click)="sendMessage()"></button>
        </div>
    </div>
</p-dialog>
