<app-navbar></app-navbar>
<div class="container">
    <exchanges-sidebar/>
    <div class="content">
        <p class="page-title">{{Title}}</p>

        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Completed</p-tab>
                <p-tab value="1">Rejected</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <div *ngIf="completedExchanges.length != 0 || isLoading" class="rejected-main-section">
                        <div style="grid-column: 1;" class="column-cards">
                            <div class="card-section" style="align-content: center;text-align: center" *ngIf="isLoading">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                            <div *ngIf="completedExchanges.length != 0 && !isLoading" class="card-section">
                                <div
                                        class="card"
                                        *ngFor="let card of completedExchanges"
                                        (click)="selectCompletedCard(card)"
                                        [class.selected]="selectedCompletedCard === card"
                                >
                                    <div class="active-card-first-column">
                                        <div class="active-card-first-column-book-first">
                                            <img [src]="!isRequester(card) ? getBookImage(card.offeredPub.book) : getBookImage(card.requestedPub.book)"
                                                 alt="Book Image"
                                                 class="book-image"/>
                                            <p style="margin-bottom: 0">
                                                {{!isRequester(card) ? card.offeredPub.book.model?.title : card.requestedPub.book.model?.title }}
                                            </p>
                                        </div>
                                        <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                                        <div class="active-card-first-column-book-second">
                                            <img [src]="!isRequester(card) ? getBookImage(card.requestedPub.book) : getBookImage(card.offeredPub.book)" alt="Book Image" class="book-image" fill/>
                                            <p style="margin-bottom: 0">
                                                {{ !isRequester(card) ? card.requestedPub.book.model?.title : card.offeredPub.book.model?.title }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="requests-second-column">
                                        <span class="exchange-completed-span">Intercambio completado</span>
                                    </div>
                                </div>
                            </div>
                            <p-paginator (onPageChange)="onCompletedPageChange($event)" [first]="currentCompletedPage" [rows]="rows" [totalRecords]="totalRecords" />
                        </div>
                        <div class="content-panel" style="align-content: center;text-align: center" *ngIf="isLoading">
                            <div class="emtpy-content-panel">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                        </div>
                        <div class="content-panel" id="content-panel-completed" *ngIf="selectedCompletedCard && !isLoading">
                            <div class="static-card user-card" id="user-card-completed">
                                <div style="grid-column: 1; justify-items: center;">
                                    <div class="user-card-image"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="user-card-name">{{ isRequester(selectedCompletedCard) ? selectedCompletedCard.offeredPub.book.owner?.username :
                                        selectedCompletedCard.requestedPub.book.owner?.username }}</p>
                                    <p class="user-card-email">{{ isRequester(selectedCompletedCard) ? selectedCompletedCard.offeredPub.book.owner?.mail :
                                        selectedCompletedCard.requestedPub.book.owner?.mail }}</p>
                                    <p-rating [(ngModel)]="selectedUserRatingCompleted" [disabled]="true" />
                                </div>
                                <div style="grid-column: 3;text-align: start;align-content: center;justify-items: center;">
                                    <p class="user-card-review" style="text-align: center;">Deja una reseña</p>
                                    <i style="font-size: large;font-weight: lighter;cursor: pointer" class="pi pi-chevron-up icon-card-active" (click)="op.toggle($event)"></i>
                                </div>
                            </div>

                            <p class="static-section-headers">El libro</p>
                            <div class="static-card book-theirs-card" id="book-theirs-card-completed">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedCompletedCard) ? selectedCompletedCard.offeredPub.book.model?.title :
                                        selectedCompletedCard.requestedPub.book.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedCompletedCard) ? selectedCompletedCard.offeredPub.book.model?.authors :
                                        selectedCompletedCard.requestedPub.book.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedCompletedCard) ? selectedCompletedCard.offeredPub.book.model?.description :
                                        selectedCompletedCard.requestedPub.book.model?.description }}
                                    </p>
                                </div>
                            </div>
                            <p class="static-section-headers">Por tu libro</p>
                            <div class="static-card book-yours-card" id="book-yours-card-completed">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedCompletedCard) ? selectedCompletedCard.requestedPub.book.model?.title :
                                        selectedCompletedCard.offeredPub.book.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedCompletedCard) ? selectedCompletedCard.requestedPub.book.model?.authors :
                                        selectedCompletedCard.offeredPub.book.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedCompletedCard) ? selectedCompletedCard.requestedPub.book.model?.description :
                                        selectedCompletedCard.offeredPub.book.model?.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!selectedCompletedCard && !isLoading">
                            <div class="emtpy-content-panel">
                                <p class="text-empty">Selecciona una tarjeta para más detalles</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="completedExchanges.length === 0 && !isLoading" class="card-section-empty">
                        <p class="text-empty">No tienes intercambios completados</p>
                        <p-button styleClass="empty-button" label="Ver publicaciones" icon="pi pi-search" (click)="redirectToPublications()" />
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <div *ngIf="rejectedExchanges.length != 0 || isLoading"  class="completed-main-section">
                        <div style="grid-column: 1;" class="column-cards">
                            <div class="card-section" style="align-content: center;text-align: center" *ngIf="isLoading">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                            <div *ngIf="rejectedExchanges.length != 0 && !isLoading" class="card-section">
                                <div
                                        class="card"
                                        *ngFor="let card of rejectedExchanges"
                                        (click)="selectRejectedCard(card)"
                                        [class.selected]="selectedRejectedCard === card"
                                >
                                    <div class="active-card-first-column">
                                        <div class="active-card-first-column-book-first">
                                            <img [src]="!isRequester(card)? getBookImage(card.offeredPub.book) : getBookImage(card.requestedPub.book)"
                                                 alt="Book Image"
                                                 class="book-image"/>
                                            <p style="margin-bottom: 0">
                                                {{ !isRequester(card) ? card.offeredPub.book.model?.title : card.requestedPub.book.model?.title }}
                                            </p>
                                        </div>
                                        <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                                        <div class="active-card-first-column-book-second">
                                            <img [src]="!isRequester(card) ? getBookImage(card.requestedPub.book) : getBookImage(card.offeredPub.book)" alt="Book Image" class="book-image" fill/>
                                            <p style="margin-bottom: 0">
                                                {{ !isRequester(card) ? card.requestedPub.book.model?.title : card.offeredPub.book.model?.title }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="requests-second-column">
                                        <span class="exchange-rejected-span">Intercambio rechazado</span>
                                    </div>
                                </div>
                            </div>
                            <p-paginator (onPageChange)="onRejectedPageChange($event)" [first]="currentRejectedPage" [rows]="rows" [totalRecords]="totalRecords" />
                        </div>
                        <div class="content-panel" style="align-content: center;text-align: center" *ngIf="isLoading">
                            <div class="emtpy-content-panel">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                        </div>
                        <div class="content-panel" id="content-panel-rejected" *ngIf="selectedRejectedCard && !isLoading">
                            <div class="static-card user-card" id="user-card-rejected">
                                <div style="grid-column: 1; justify-items: center;">
                                    <div class="user-card-image"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="user-card-name">{{ isRequester(selectedRejectedCard) ? selectedRejectedCard.offeredPub.book.owner?.username :
                                        selectedRejectedCard.requestedPub.book.owner?.username }}</p>
                                    <p class="user-card-email">{{ isRequester(selectedRejectedCard) ? selectedRejectedCard.offeredPub.book.owner?.mail :
                                        selectedRejectedCard.requestedPub.book.owner?.mail }}</p>
                                    <p-rating [(ngModel)]="selectedUserRatingRejected" [disabled]="true" />
                                </div>
                            </div>
                            <p class="static-section-headers">El libro</p>
                            <div class="static-card book-theirs-card" id="book-theirs-card-rejected">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedRejectedCard) ? selectedRejectedCard.offeredPub.book.model?.title :
                                        selectedRejectedCard.requestedPub.book.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedRejectedCard) ? selectedRejectedCard.offeredPub.book.model?.authors :
                                        selectedRejectedCard.requestedPub.book.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedRejectedCard) ? selectedRejectedCard.offeredPub.book.model?.description ?? '' :
                                        selectedRejectedCard.requestedPub.book.model?.description ?? '' }}
                                    </p>
                                </div>
                            </div>
                            <p class="static-section-headers">Por tu libro</p>
                            <div class="static-card book-yours-card" id="book-yours-card-rejected">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedRejectedCard) ? selectedRejectedCard.requestedPub.book.model?.title :
                                        selectedRejectedCard.offeredPub.book.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedRejectedCard) ? selectedRejectedCard.requestedPub.book.model?.authors :
                                        selectedRejectedCard.offeredPub.book.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedRejectedCard) ? selectedRejectedCard.requestedPub.book.model?.description ?? '' :
                                        selectedRejectedCard.offeredPub.book.model?.description ?? '' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!selectedRejectedCard && !isLoading">
                            <div class="emtpy-content-panel">
                                <p class="text-empty">Selecciona una tarjeta para más detalles</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="rejectedExchanges.length === 0 && !isLoading" class="card-section-empty">
                        <p class="text-empty">No tienes ningún intercambio rechazado</p>
                        <p-button styleClass="empty-button" label="Ver publicaciones" icon="pi pi-search" (click)="redirectToPublications()" />
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>

<p-popover #op>
        <div style="padding: 1rem;">
            <p style="margin: 0">Deja tu reseña</p>
            <p-rating [(ngModel)]="reviewValue" style="margin-bottom: 1rem;margin-top: 1rem" />
            <textarea pTextarea [(ngModel)]="reviewText"></textarea>
            <p-button label="Enviar" (click)="confirmReview()" />
        </div>
</p-popover>