<app-navbar></app-navbar>
<div class="container">
    <exchanges-sidebar/>
    <div class="content">
        <p class="page-title">{{Title}}</p>

        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Completed</p-tab>
                <p-tab value="1">Rejected</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <div class="rejected-main-section">
                        <div style="grid-column: 1;" class="column-cards">
                            <div class="card-section">
                                <div
                                        class="card"
                                        *ngFor="let card of ['Tarjeta 1', 'Tarjeta 2', 'Tarjeta 3', 'Tarjeta 4', 'Tarjeta 5', 'Tarjeta 6']"
                                        (click)="selectCompletedCard(card)"
                                        [class.selected]="selectedCompletedCard === card"
                                >
                                    <div class="active-card-first-column">
                                        <div class="active-card-first-column-book-first">
                                            <div class="book-image"></div>
                                            <p style="margin-bottom: 0">Book title wrapped</p>
                                        </div>
                                        <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                                        <div class="active-card-first-column-book-second">
                                            <div class="book-image"></div>
                                            <p style="margin-bottom: 0">Book title wrapped</p>
                                        </div>
                                    </div>
                                    <div class="requests-second-column">
                                        <span class="exchange-completed-span">Intercambio completado</span>
                                    </div>
                                </div>
                            </div>
                            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" />
                        </div>
                        <div class="content-panel" id="content-panel-completed">
                            <div class="static-card user-card" id="user-card-completed">
                                <div style="grid-column: 1; justify-items: center;">
                                    <div class="user-card-image"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="user-card-name">Nombre de usuario</p>
                                    <p class="user-card-email">usuario&#64;mail.com</p>
                                    <p-rating [(ngModel)]="value" [disabled]="true" />
                                </div>
                                <div style="grid-column: 3;text-align: start;align-content: center;justify-items: center;">
                                    <p class="user-card-review" style="text-align: center;">Deja una reseña</p>
                                    <i style="font-size: large;font-weight: lighter;cursor: pointer" class="pi pi-chevron-up icon-card-active" (click)="op.toggle($event)"></i>
                                </div>
                            </div>

                            <p class="static-section-headers">El libro</p>
                            <div class="static-card book-theirs-card" id="book-theirs-card-completed">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">Título del libro</p>
                                    <p class="book-card-author">Autor del libro</p>
                                    <p class="book-card-description">
                                        feogmpwo4ngpeangwpvp om3fpnenopgnopvwnvwpoewnvwev
                                        ewnonpwvownenovpewvneoneopnbeobneopbneonbe
                                        beboenbeopbneoneboneoneobneobnoebneobneb
                                        ebneobnebnebnebononboebnenboenbeobnobneb
                                        neonbeobebneobnebnoenbeobeonboenn
                                    </p>
                                </div>
                            </div>
                            <p class="static-section-headers">Por tu libro</p>
                            <div class="static-card book-yours-card" id="book-yours-card-completed">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">Título del libro</p>
                                    <p class="book-card-author">Autor del libro</p>
                                    <p class="book-card-description">
                                        feogmpwo4ngpeangwpvp om3fpnenopgnopvwnvwpoewnvwev
                                        ewnonpwvownenovpewvneoneopnbeobneopbneonbe
                                        beboenbeopbneoneboneoneobneobnoebneobneb
                                        ebneobnebnebnebononboebnenboenbeobnobneb
                                        neonbeobebneobnebnoenbeobeonboenn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <div class="completed-main-section">
                        <div style="grid-column: 1;" class="column-cards">
                            <div class="card-section">
                                <div
                                        class="card"
                                        *ngFor="let card of ['Tarjeta 1', 'Tarjeta 2', 'Tarjeta 3', 'Tarjeta 4', 'Tarjeta 5', 'Tarjeta 6']"
                                        (click)="selectRejectedCard(card)"
                                        [class.selected]="selectedRejectedCard === card"
                                >
                                    <div class="active-card-first-column">
                                        <div class="active-card-first-column-book-first">
                                            <div class="book-image"></div>
                                            <p style="margin-bottom: 0">Book title wrapped</p>
                                        </div>
                                        <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                                        <div class="active-card-first-column-book-second">
                                            <div class="book-image"></div>
                                            <p style="margin-bottom: 0">Book title wrapped</p>
                                        </div>
                                    </div>
                                    <div class="requests-second-column">
                                        <span class="exchange-rejected-span">Intercambio rechazado</span>
                                    </div>
                                </div>
                            </div>
                            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" />
                        </div>
                        <div class="content-panel" id="content-panel-rejected">
                            <div class="static-card user-card" id="user-card-rejected">
                                <div style="grid-column: 1; justify-items: center;">
                                    <div class="user-card-image"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="user-card-name">Nombre de usuario</p>
                                    <p class="user-card-email">usuario&#64;mail.com</p>
                                    <p-rating [(ngModel)]="value" [disabled]="true" />
                                </div>
                            </div>
                            <p class="static-section-headers">El libro</p>
                            <div class="static-card book-theirs-card" id="book-theirs-card-rejected">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">Título del libro</p>
                                    <p class="book-card-author">Autor del libro</p>
                                    <p class="book-card-description">
                                        feogmpwo4ngpeangwpvp om3fpnenopgnopvwnvwpoewnvwev
                                        ewnonpwvownenovpewvneoneopnbeobneopbneonbe
                                        beboenbeopbneoneboneoneobneobnoebneobneb
                                        ebneobnebnebnebononboebnenboenbeobnobneb
                                        neonbeobebneobnebnoenbeobeonboenn
                                    </p>
                                </div>
                            </div>
                            <p class="static-section-headers">Por tu libro</p>
                            <div class="static-card book-yours-card" id="book-yours-card-rejected">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">Título del libro</p>
                                    <p class="book-card-author">Autor del libro</p>
                                    <p class="book-card-description">
                                        feogmpwo4ngpeangwpvp om3fpnenopgnopvwnvwpoewnvwev
                                        ewnonpwvownenovpewvneoneopnbeobneopbneonbe
                                        beboenbeopbneoneboneoneobneobnoebneobneb
                                        ebneobnebnebnebononboebnenboenbeobnobneb
                                        neonbeobebneobnebnoenbeobeonboenn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>

<p-popover #op>
        <div style="padding: 1rem;">
            <p style="margin: 0">Deja tu reseña</p>
            <p-rating [(ngModel)]="reviewValue" style="margin-bottom: 1rem;margin-top: 1rem" />
            <textarea pTextarea [(ngModel)]="reviewText"></textarea>
            <p-button label="Enviar" (click)="confirmReview()" />
        </div>
</p-popover>