<app-navbar></app-navbar>
<div class="container">
    <exchanges-sidebar/>
    <div class="content">
        <p class="page-title">{{Title}}</p>

        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Offers</p-tab>
                <p-tab value="1">My requests</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <div class="requests-main-section">
                        <div style="grid-column: 1;" class="column-cards">
                            <div class="card-section" style="align-content: center;text-align: center" *ngIf="isLoading">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                            <div *ngIf="offeredExchanges.length != 0 && !isLoading" class="card-section">
                                <div
                                        class="card"
                                        *ngFor="let card of offeredExchanges"
                                        (click)="selectOfferedCard(card)"
                                        [class.selected]="selectedOffersCard === card"
                                >
                                    <div class="active-card-first-column">
                                        <div class="active-card-first-column-book-first">
                                            <img [src]="!isRequester(card) ? getBookImage(card.offeredPub.book) : getBookImage(card.requestedPub.book)"
                                                 alt="Book Image"
                                                 class="book-image"/>
                                            <p style="margin-bottom: 0">
                                            {{!isRequester(card) ? card.offeredPub.book.model?.title : card.requestedPub.book.model?.title }}
                                            </p>
                                        </div>
                                        <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                                        <div class="active-card-first-column-book-second">
                                            <img [src]="!isRequester(card) ? getBookImage(card.requestedPub.book) : getBookImage(card.offeredPub.book)" alt="Book Image" class="book-image" fill/>
                                            <p style="margin-bottom: 0">
                                                {{ !isRequester(card) ? card.requestedPub.book.model?.title : card.offeredPub.book.model?.title }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="requests-second-column">
                                        <p-button styleClass="exchange-reject-button" (click)="showRejectDialog(card)">Rechazar</p-button>
                                        <p-button styleClass="exchange-accept-button" (click)="showAcceptDialog(card)">Aceptar</p-button>
                                    </div>
                                </div>
                            </div>
                            <p-paginator (onPageChange)="onOfferredPageChange($event)" [first]="currentOfferedPage" [rows]="rows" [totalRecords]="totalRecords" />
                        </div>
                        <div class="content-panel" style="align-content: center;text-align: center" *ngIf="isLoading">
                            <div class="emtpy-content-panel">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                        </div>
                        <div class="content-panel" id="content-panel-offers" *ngIf="selectedOffersCard && !isLoading">
                            <div class="static-card user-card " id="user-card-offers">
                                <div style="grid-column: 1; justify-items: center;">
                                    <div class="user-card-image"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="user-card-name">{{ isRequester(selectedOffersCard) ? selectedOffersCard?.offeredPub?.book?.owner?.username :
                                        selectedOffersCard?.requestedPub?.book?.owner?.username }}</p>
                                    <p class="user-card-email">{{ isRequester(selectedOffersCard) ? selectedOffersCard?.offeredPub?.book?.owner?.mail :
                                        selectedOffersCard?.requestedPub?.book?.owner?.mail }}</p>
                                    <p-rating [(ngModel)]="selectedUserRatingOffered" [disabled]="true" />
                                </div>
                            </div>
                            <p class="static-section-headers">El libro</p>
                            <div class="static-card user-card " id="book-theirs-card-offers">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedOffersCard) ? selectedOffersCard?.offeredPub?.book?.model?.title :
                                        selectedOffersCard?.requestedPub?.book?.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedOffersCard) ? selectedOffersCard?.offeredPub?.book?.model?.authors :
                                        selectedOffersCard?.requestedPub?.book?.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedOffersCard) ? selectedOffersCard?.offeredPub?.book?.model?.description :
                                        selectedOffersCard?.requestedPub?.book?.model?.description }}
                                    </p>
                                </div>
                            </div>
                            <p class="static-section-headers">Por tu libro</p>
                            <div class="static-card user-card " id="book-yours-card-offers">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedOffersCard) ? selectedOffersCard?.requestedPub?.book?.model?.title :
                                        selectedOffersCard?.offeredPub?.book?.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedOffersCard) ? selectedOffersCard?.requestedPub?.book?.model?.authors :
                                        selectedOffersCard?.offeredPub?.book?.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedOffersCard) ? selectedOffersCard?.requestedPub?.book?.model?.description :
                                        selectedOffersCard?.offeredPub?.book?.model?.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!selectedOffersCard && !isLoading">
                            <div class="emtpy-content-panel">
                                <p class="text-empty">Selecciona una tarjeta para más detalles</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="offeredExchanges.length === 0 && !isLoading" class="card-section-empty">
                        <p class="text-empty">No tienes ofertas para intercambiar</p>
                        <p-button styleClass="empty-button" label="Ver publicaciones" icon="pi pi-search" (click)="redirectToPublications()" />
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <div class="requests-main-section">
                        <div style="grid-column: 1;" class="column-cards">
                            <div class="card-section" style="align-content: center;text-align: center" *ngIf="isLoading">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                            <div *ngIf="requestedExchanges.length != 0 && !isLoading" class="card-section">
                                <div
                                        class="card"
                                        *ngFor="let card of requestedExchanges"
                                        (click)="selectRequesterCard(card)"
                                        [class.selected]="selectedRequestsCard === card"
                                >
                                    <div class="active-card-first-column">
                                        <div class="active-card-first-column-book-first">
                                            <img [src]="!isRequester(card)? getBookImage(card.offeredPub.book) : getBookImage(card.requestedPub.book)"
                                                 alt="Book Image"
                                                 class="book-image"/>
                                            <p style="margin-bottom: 0">
                                                {{ !isRequester(card) ? card.offeredPub.book.model?.title : card.requestedPub.book.model?.title }}
                                            </p>
                                        </div>
                                        <i class="pi pi-arrow-right-arrow-left icon-card-active"></i>
                                        <div class="active-card-first-column-book-second">
                                            <img [src]="!isRequester(card) ? getBookImage(card.requestedPub.book) : getBookImage(card.offeredPub.book)" alt="Book Image" class="book-image" fill/>
                                            <p style="margin-bottom: 0">
                                                {{ !isRequester(card) ? card.requestedPub.book.model?.title : card.offeredPub.book.model?.title }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="requests-second-column">
                                        <span class="exchange-solicited-span">Intercambio solicitado</span>
                                    </div>
                                </div>
                            </div>
                            <p-paginator (onPageChange)="onRequestedPageChange($event)" [first]="currentSolicitedPage" [rows]="rows" [totalRecords]="totalRecords" />
                        </div>
                        <div class="content-panel" style="align-content: center;text-align: center" *ngIf="isLoading">
                            <div class="emtpy-content-panel">
                                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                            </div>
                        </div>
                        <div class="content-panel" id="content-panel-requests" *ngIf="selectedRequestsCard && !isLoading">
                            <div class="static-card user-card " id="user-card-requests">
                                <div style="grid-column: 1; justify-items: center;">
                                    <div class="user-card-image"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="user-card-name">{{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.offeredPub?.book?.owner?.username :
                                        selectedRequestsCard?.requestedPub?.book?.owner?.username }}</p>
                                    <p class="user-card-email">{{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.offeredPub?.book?.owner?.mail :
                                        selectedRequestsCard?.requestedPub?.book?.owner?.mail }}</p>
                                    <p-rating [(ngModel)]="selectedUserRatingRequested" [disabled]="true" />
                                </div>
                            </div>
                            <p class="static-section-headers">El libro</p>
                            <div class="static-card user-card " id="book-theirs-card-requests">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.offeredPub?.book?.model?.title :
                                        selectedRequestsCard?.requestedPub?.book?.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.offeredPub?.book?.model?.authors :
                                        selectedRequestsCard?.requestedPub?.book?.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.offeredPub?.book?.model?.description :
                                        selectedRequestsCard?.requestedPub?.book?.model?.description }}
                                    </p>
                                </div>
                            </div>
                            <p class="static-section-headers">Por tu libro</p>
                            <div class="static-card user-card " id="book-yours-card-requests">
                                <div style="grid-column: 1;justify-items: center;">
                                    <div class="book-image-static"></div>
                                </div>
                                <div style="grid-column: 2; text-align: start;">
                                    <p class="book-card-title">{{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.requestedPub?.book?.model?.title :
                                        selectedRequestsCard?.offeredPub?.book?.model?.title }}</p>
                                    <p class="book-card-author">{{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.requestedPub?.book?.model?.authors :
                                        selectedRequestsCard?.offeredPub?.book?.model?.authors }}</p>
                                    <p class="book-card-description">
                                        {{ isRequester(selectedRequestsCard) ? selectedRequestsCard?.requestedPub?.book?.model?.description :
                                        selectedRequestsCard?.offeredPub?.book?.model?.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!selectedRequestsCard && !isLoading">
                            <div class="emtpy-content-panel">
                                <p class="text-empty">Selecciona una tarjeta para más detalles</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="requestedExchanges.length === 0 && !isLoading" class="card-section-empty">
                        <p class="text-empty">No tienes ningún intercambio solicitado</p>
                        <p-button styleClass="empty-button" label="Ver publicaciones" icon="pi pi-search" (click)="redirectToPublications()" />
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>
