
.star-rating {
    direction: rtl;
    display: inline-flex;
    margin: 10px 0 10px 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: #f5c518;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5c518;
}

#image-preview-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se muevan a la siguiente línea si no hay suficiente espacio en la fila */
    gap: 10px; /* Espacio entre las imágenes */
}

.image-wrapper {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna (imagen arriba y botón abajo) */
    align-items: center; /* Centra la imagen y el botón */
    margin: 5px;
}

.image-wrapper img {
    max-width: 200px; /* Limita el tamaño de la imagen */
    max-height: 200px; /* Limita el tamaño de la imagen */
}

.delete-button {
    margin-top: 5px; /* Espacio entre la imagen y el botón */
}

