
.star-rating {
    direction: rtl;
    display: inline-flex;
    margin: 10px 0 10px 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: #f5c518;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5c518;
}

#image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.image-wrapper img {
    max-width: 200px;
    max-height: 200px;
}

.delete-button {
    margin-top: 5px;
}

.container-space-between {
    margin-bottom: 50px; !important;
}