/* CSS para el estado seleccionado */
.selected-card {
    border: 2px solid #1e87f0; /* Cambia el color según tu necesidad */
    background-color: #cecece !important; /* Color de fondo para la tarjeta seleccionada */
}


.date-container {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 10px;  /* Adjust the distance from the right as needed */
    font-size: 0.8em;
    color: #666;
}

.state-pending {
    background-color: orange !important;
    color: white !important;
    width: 30%;
    padding: 3%
}

.state-approved {
    background-color: green !important;
    color: white !important;
}

.state-rejected {
    background-color: #af1111 !important;
    color: white !important;
}

.state-inprogress {
    background-color: blue !important;
    color: white !important;
    width: fit-content;
    margin: 10px;
}


.state-awaiting {
    background-color: #256b7c !important;
    color: white !important;
    height: 38px;
    white-space: normal;
    word-break: break-word;
    width: 100px;
    line-height: 1.2em;
    display: inline-block;
    padding: 4px 8px;
}

.state-padding {
    margin-left: 150px;
}


.title {
    text-align: center;
}

.main-section {
    align-content: center;
    text-align: center;
    margin-top: 3%;
    margin-left: 8%;
    position: fixed;
}

.custom-style {
    background-color: #f8f8f8;
}

.column {
    margin-left: 15%;
    margin-right: 15%;
}


/* Contenedor scrolleable en la columna izquierda */
.scrollable-content {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    padding-right: 20px;
    margin-bottom: 10%;
}

.card-container {
    margin-bottom: 2%;
}

.exchange-info-container {
    overflow: auto;
    text-align: center;
    max-height: 100%; /* Asegura que la columna sticky ocupe toda la pantalla */
    flex-direction: column;
    margin-bottom: 0;
    padding: 5%;
    height: auto;
    min-height: 500px;
    align-content: center;
    justify-content: center;
}


.main-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 40%;
}


.exchange-card {
    padding: 25px;
    height: 260px;
    width: 112%;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 0;
    overflow: hidden;
    justify-content: space-around
}


.column-exchanges {
    justify-content: center;
    margin-left: 5%;
    margin-top: 2%;
}

.book-image {
    height: 130px;
    width: 85px;
    object-fit: cover;
}

.card-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.card-text2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.card-text-container {
    width: 120px;
    padding: 15px;
    height: 40px;
}

.card-text3 {
    font-size: small;
}

.date-text {
    color: #666666;
    font-size: small;
    padding: 0;
    margin: 0;
}

.card-text-right {
    margin: 25% 0 25% 0;
    padding-left: 50%;
}

.card-text-left {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    padding-right: 100px;
}


.button-text-accept {
    text-decoration: none;
    color: #ffffff;
}


.custom-link:hover {
    text-decoration: none;
    color: white;
}

a:hover {
   text-decoration: white;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    margin: 10px 0 10px 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: #f5c518;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5c518;
}

.arrow-icon {
    height: 50px;
    width: 50px;
}

/* From Uiverse.io by vinodjangid07 */
.button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(30, 135, 240);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: #1e87f0;
}

.button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(30, 135, 240);
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "CHAT";
    color: white;
    font-weight: normal;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

.chat-header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-size: 18px;
    border-bottom-color: #e8e8e8;
}

.message-input {
    padding: 5px;
    border-top: 1px solid #ccc;
}

.message-input .message-send {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
}

.message-input .button-send {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
}

.message-input .button-send:hover {
    background-color: #f1f1f1;
    color: #333;
}


.chat-body {
    padding: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
}

.incoming {
    background-color: #e1e1e1;
    margin-right: 5%;
}

.outgoing {
    background-color: #f2f2f2;
    text-align: right;
    margin-left: 5%;

}

.message p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}