.custom-style {
    background-color: #f8f8f8;
}


.fixed-action-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.small-gray-text {
    color: gray;
    font-size: 0.8em;
}



.filter-section {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.col-content {
    flex: 1;
}

.navbar-logo {
    text-align: left;
}

.ml-9 {
    margin-left: 9rem;
}

.mt-1 {
    margin-top: 1rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.uk-navbar-nav {
    gap: 0 !important;
}

.icon-style {
    height: 80px;
    margin-right: 10px;
}

.pl-1 {
    padding-left: 1rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}

.pl-2 {
    padding-left: 2rem !important;
}

.pr-2 {
    padding-right: 2rem !important;
}
.mb-1 {
    margin-bottom: 1rem !important;
}

.custom-link:hover {
    text-decoration: none;
}

.custom-search-form .uk-search-input {
    border-radius: 20px;
}

.custom-search-form button.uk-search-icon-flip {
    border-radius: 20px;
}

.fixed-action-btn a {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    box-shadow: none;
    z-index: 1000;
}

.fixed-action-btn .uk-button-primary {
    border-radius: 50%;
    padding: 0; /
}

.uk-button-text {
    padding: 10px;
}

.uk-button-danger a {
    color: inherit;
    text-decoration: none;
}

.uk-button-danger a:hover {
    color: inherit;
}

.nav-background {
    background-color: #6dafbf; !important;
    padding: 0;
    margin:0;
}

.nav-container {
    padding: 22px;
    margin: 0 2% 0 1%;
}

.button-text {
    color: black;
}

.button-text,
.custom-search-form input::placeholder,
.uk-navbar-nav a,
.uk-navbar-dropdown-nav a {
    color: black !important;
}

.uk-navbar-dropdown-nav a div {
    color: black !important;
}

.uk-navbar-nav a:hover,
.uk-navbar-dropdown-nav a:hover {
    color: #ffffff !important;
}

.custom-search-form input::placeholder {
    color: black !important;
}
