
.main-grid-container {
	
	display: grid;
	grid-template-columns: auto;
	margin: 2% 20% 5% 20%;
	padding: 2% 5% 5% 5%;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.title-profile {
	
	padding-top: 0%;
	text-align: center;
}

.user-data-grid-container {
	
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 10% 24%;
	margin: 0% 5% 0% 5%;
	padding: 0%;
}

.user-data-grid-element-left {
	
	align-self: center;
}

.user-data-grid-element-right {
	
	align-self: center;
	margin: 0%;
	padding: 0%;
}

.profile-pic {
	
	align-content: center;
	align-self: center;
    border-radius: 50%;
}








.subtitles-profile {
    text-align: center;
}
    
.profile-picture-container {
    align-items: center;
    align-content: center;
}

.profile-content {
    align-items: center;
    height: fit-content;
}

.uk-divider-icon {
    color: #333333;
}

.btn-red {
    background-color: #e53935;
    color: white;
}

.reviewStars {
    position: absolute;
    top: 10px;
}

.date-text {
	
    position: absolute;
    top: 5px;
    left: 10px;
}

.stars {
    margin-top: 15px;
}

.edit-icon {
    vertical-align: middle;
    color: #757575;
    vertical-align: middle;
    cursor: pointer;
}

.btn-red {
    background-color: #e53935;
    color: white;
}

.alert {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.alert-success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert .close-btn {
    float: right;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
}

.review-empty {
    height: 25%;
    align-content: center;
    justify-content: center;
    display: grid;
}

/* From Uiverse.io by aaronross1 */
.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
}

.edit-svgIcon path {
    fill: white;
}

.edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(30, 135, 240);
    align-items: center;
}

.edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.edit-text {
    display: none; /* Oculta el texto inicialmente */
    color: white;
    font-size: 12px;
    margin-left: 8px;
}