
.main-margin {
    margin-top: 1rem !important;
}

.card-profile {
    align-content: center;
    align-items: center;
    display: grid;
    flex-direction: column;
    margin-top: 1rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 10%;
    padding-left: 10%;
}

.title-profile {
    text-align: center;
}

.subtitles-profile {
    text-align: center;
}

.profile-pic {
	
	align-content: center;
	align-self: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
    
.profile-picture-container {
    align-items: center;
    align-content: center;
}

.profile-content {
    align-items: center;
    height: fit-content;
}

.uk-divider-icon {
    color: #333333;
}

.btn-red {
    background-color: #e53935;
    color: white;
}

.reviewStars {
    position: absolute;
    top: 10px;
}

.date-text {
	
    position: absolute;
    top: 5px;
    left: 10px;
}

.stars {
    margin-top: 15px;
}

.edit-icon {
    vertical-align: middle;
    color: #757575;
    vertical-align: middle;
    cursor: pointer;
}

.btn-red {
    background-color: #e53935;
    color: white;
}

.alert {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.alert-success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert .close-btn {
    float: right;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
}
