.row-container {
    display: flex;
    flex-direction: row;
}

.my-image {
    margin-left: 50px;
    margin-right: 50px;
}

.column-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.margin-bottom {
    margin-bottom: 10%;
}


.main {
    width: 100%;
    margin: 5% 0 2% 2%;
}

.custom-select label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-select label img {
    margin-right: 10px;
}

.custom-select label div {
    flex-grow: 1;
}

.custom-select label input {
    margin-right: 10px;
}

.uk-draggable {
    cursor: move;
    position: relative;
}

.uk-draggable:active {
    cursor: grabbing;
}

