.background-primary {
    background-color: #F3EEEA;
}
.background-secondary {
    background-color: #EBE3D5;
}
.nav-bar-text {
    color: #333333;
}
.brand-logo {
    color: #333333;
    padding: 5vh;
}
