.background-primary {
    background-color: #f8f8e2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
.background-secondary {
    background-color: #EBE3D5;
}
.nav-bar-text {
    color: #333333;
    padding: 0 10vh 0 10vh;
}
.brand-logo {
    color: #333333;
    margin: 8vh 0 0 5vh;
}
.background-nav {
    background-color: #F7E7DC;
    height: 15vh;
    align-items: center;
    align-content: center;
    margin: 0;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
.nav-bar-container {
    display: inline-flex;
}
.inline-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin: 0;
}

.row {
    margin:0;
}

.search-form {
    align-items: center;
    justify-content: center;
    background-color: white; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 2vh; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
}

.search-form button {
    margin-left: 10px; /* Espacio entre el campo de búsqueda y el botón */
    border-radius: 1vh; /* Bordes redondeados del botón */
}

.search-container {
    flex: 1;
}

.search-button {
    color: #333333;
}

.main-container {
    margin: 5vh 10vh 0 10vh;
    height: 100%;
}

.custom-image {
    width: 50px; /* Ajusta el ancho deseado */
    height: 100px; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
}

.main-background {
    width: 100%;
    height: 100%;
    display: flex;
}

.text {
    color: #4e342e;
    padding: 3vh;
}

.card-text {
    color: #4e342e;
}

.card {
    height: 50vh;
    width: 40vh;
    overflow: hidden;
}


.align-content {
    display: flex;
    align-items: center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}