<app-navbar></app-navbar>
<div class="return-button" (click)="goBack()">
    <i class="pi pi-arrow-left return-icon"></i>
    <p style="margin:0">{{ 'BOOK_MODEL.RETURN' | translate }}</p>
</div>
<div class="book-model-home">

    <div class="column-content">

        <p class="page-title">{{ 'BOOK_MODEL.TITLE' | translate }}</p>
        <p-inputgroup>
            <input #searchInput pInputText
                   [(ngModel)]="currentFilters.search"
                   (keyup.enter)="search()"
                   [ngClass]="{ 'search-applied': isSearchActive }"
                   (blur)="onBlur()"
                   (ngModelChange)="onSearchChange()"
                   placeholder="{{ 'BOOK_MODEL.SEARCH' | translate }}" />
            <p-inputgroup-addon>
                <p-button icon="pi pi-search" severity="secondary" variant="text" (click)="search()"/>
            </p-inputgroup-addon>
        </p-inputgroup>

        <div class="search-info">
            <p>{{ 'TOTAL_RESULTS' | translate }}: {{ bookModels.length }}</p>
            <div class="active-filters">
                <div class="filter-right">
                    <button *ngIf="currentFilters.genre" class="filter-badge" (click)="removeFilter('genre')">
                        {{ currentFilters.genre | translate }} ✕
                    </button>
                    <button *ngIf="!currentFilters.genre" class="no-filter-badge">
                        {{ 'NO_GENRE_FILTER' | translate }}
                    </button>
                </div>
            </div>
            <app-sort (sortChange)="onSortUpdate($event)"></app-sort>
            <br>
        </div>

        <p-scrollpanel [style]="{ width:'65vw', height: '68vh'}" >
            <div class="book-models-grid">
                <app-book-model-card data-cy="book_models" *ngFor="let bookModel of bookModels" [bookModel]="bookModel"></app-book-model-card>
            </div>
            <app-paginator [pagination]="pagination" [fetchMethod]="getBookModels.bind(this)"></app-paginator>
        </p-scrollpanel>

        <div class="no-books" *ngIf="bookModels.length === 0">
            <p>{{ 'BOOK_HOME.NO_RESULTS' | translate }}</p>
        </div>

    </div>

    <div class="column-filters">
        <p class="page-filter-text">{{ 'FILTERS' | translate }}</p>
        <div class="filter-line"></div>
        <app-filter-list [headers]="genreHeaders" filterType="Genre"></app-filter-list>
        <div class="filter-line"></div>
        <div class="fixed-add-book-container">
            <p>{{ 'BOOK_MODEL.NO_BOOK' | translate }}</p>
            <button icon="pi pi-plus" class="fixed-add-book-btn"  [routerLink]="uploadBookModelUrl">{{ 'BOOK_MODEL.ADD_BOOK' | translate }}</button>
        </div>
    </div>

</div>
