<div *ngIf="isVerifying" class="flex justify-content-center align-items-center">
    <p-progressSpinner styleClass="custom-spinner" />
</div>

<!-- Mensaje de éxito -->
@if (verificationSuccess) {
    <p-card data-cy="title-success" class="flex align-items-center justify-content-center w-full h-full success-card">
        <ng-template  pTemplate="title">
            <i class="pi pi-check-circle text-green-500 text-3xl"></i>
            {{ 'AUTH.VERIFICATION_SUCCESS' | translate }}
        </ng-template>
        <ng-template pTemplate="content">
            <p>{{ 'AUTH.VERIFICATION_SUCCESS_DESCRIPTION' | translate }}</p>
            <p-button data-cy="button-home" label="{{ 'AUTH.GO_HOME' | translate }}" icon="pi pi-home" (click)="goToHome()" class="flex justify-content-center w-full"></p-button>
        </ng-template>
    </p-card>
}

<!-- Mensaje de error -->
@if (verificationFailed) {
    <p-card data-cy="title-error" class="flex align-items-center justify-content-center w-full h-full error-card">
        <ng-template  pTemplate="title">
            <i class="pi pi-times-circle text-red-500 text-3xl"></i>
            {{ 'AUTH.VERIFICATION_ERROR' |translate }}
        </ng-template>
        <ng-template pTemplate="content">
            <p-message severity="error" [text]="errorMessage"></p-message>
            <p>{{ 'AUTH.VERIFICATION_ERROR_DESCRIPTION' |translate }}</p>
            <p-button label="{{ 'AUTH.GO_HOME' |translate }}" icon="pi pi-home" (click)="goToHome()" class="flex justify-content-center w-full"></p-button>
        </ng-template>
    </p-card>
}
