<card-page 
	[pageTitle]="'MY_PUBLICATIONS' | translate"
	[fetchMethod]="fetchMyPublications"
	[items]="publications"
	[showSearchBar]="false"
	[displaySort]="false"
	[displayGridStyle]="false"
	[cardTemplate]="publicationCardTemplate"
></card-page>

<ng-template #publicationCardTemplate let-publication>
	<publication-card data-cy="publications"  [publication]="publication" [loggedUser]="loggedUser" [showLikeHeart]="false" [showTrashCan]="true" [showIsMine]="false"></publication-card>
</ng-template>