<div class="flex align-items-center justify-content-center w-full h-full">
    <div class="surface-card p-4 shadow-2 border-round w-full sm:w-25rem">
        <div class="text-center mb-4">
            <h2 class="text-900" *ngIf="!isRegistered">Regístrate</h2>
        </div>

        <!-- FORMULARIO (se oculta después del registro exitoso) -->
        <form *ngIf="!isRegistered" #loginForm="ngForm" (ngSubmit)="register()">
            <div class="field">
                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input id="email" type="email" pInputText [(ngModel)]="email" class="w-full" name="email" required />
            </div>
            <div class="field">
                <label for="username" class="block text-900 font-medium mb-2">Usuario</label>
                <input id="username" type="text" pInputText [(ngModel)]="username" class="w-full" name="username" required />
            </div>
            <div class="field">
                <label for="password" class="block text-900 font-medium mb-2">Contraseña</label>
                <p-password [fluid]="true" [feedback]="false" [toggleMask]="true" id="password" [(ngModel)]="password" name="password" required />
            </div>
            <div class="field">
                <label for="repeatPassword" class="block text-900 font-medium mb-2">Repita la contraseña</label>
                <p-password [fluid]="true" [feedback]="false" [toggleMask]="true" id="repeatPassword" [(ngModel)]="repeatPassword" name="repeatPassword" required />
            </div>

            <button pButton type="submit" [disabled]="!loginForm.valid" class="w-full">Registrate</button>
        </form>

        <!-- MENSAJE DE CONFIRMACIÓN (se muestra después del registro exitoso) -->
        <div *ngIf="isRegistered" class="text-center">
            <i class="pi pi-envelope text-primary text-4xl"></i>
            <h3 class="text-900 mt-3">¡Registro Exitoso!</h3>
            <p class="text-600">Revisa tu bandeja de entrada para confirmar tu cuenta.</p>
        </div>

        <div class="mt-2 text-center">
            Ya tienes cuenta?
            <a href="/auth/login" class="text-primary">Iniciar sesión</a>
        </div>
    </div>
</div>
