<p-menubar>
    <ng-template pTemplate="start">
        <div class="p-menubar-start">
            <a routerLink="/publications">
                <img ngSrc="../../../assets/mercado_libro.png" alt="image" width="80" height="80"/>
            </a>
            <p class="page-title">Mercado Libro</p>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="p-menubar-end">
            <p-button label="{{ 'NAVBAR.PUBLICATIONS' | translate }}" routerLink="/publications"></p-button>
            <p-button label="{{ 'NAVBAR.EXCHANGES' | translate }}"  routerLink="/exchanges"></p-button>

            <p-button
                    label="{{ 'NAVBAR.PROFILE' | translate }}"
                    icon="pi pi-user"
                    (click)="toggleProfileMenu($event)">
            </p-button>

            <p-tieredMenu #profileMenu [model]="profileItems" [popup]="true"></p-tieredMenu>

            <app-language-switcher></app-language-switcher>
        </div>
    </ng-template>
</p-menubar>
