<p-menubar>
    <ng-template pTemplate="start">
        <div class="p-menubar-start">
            <a class="image-title" routerLink="/publications">
                <img ngSrc="./assets/mercado_libro.png" alt="image" width="50" height="50"/>
                 <p class="page-title">Mercado Libro</p>
            </a>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="p-menubar-end">
            <p-button [styleClass]="'navbar-button'" icon="pi pi-compass" label="{{ 'NAVBAR.PUBLICATIONS' | translate }}" routerLink="/publications"></p-button>
            <p-button [styleClass]="'navbar-button'" icon="pi pi-arrow-right-arrow-left" label="{{ 'NAVBAR.EXCHANGES' | translate }}"  routerLink="/exchanges"></p-button>

            <p-button [styleClass]="'navbar-button'" *ngIf="isLoggedIn"
                    label="{{ 'NAVBAR.PROFILE' | translate }}"
                    icon="pi pi-user"
                      id="profile-button"
                    (click)="toggleProfileMenu($event)">
            </p-button>
            <p-button *ngIf="!isLoggedIn"
                    label="{{ 'NAVBAR.SIGN_IN' | translate }}"
                    icon="pi pi-sign-in"
                      routerLink="/auth/login"
                    [styleClass]="'sign-in-button'"
                >
            </p-button>

            <p-tieredMenu #profileMenu [model]="profileItems" [popup]="true"></p-tieredMenu>

            <app-language-switcher></app-language-switcher>
        </div>
    </ng-template>
</p-menubar>
