<app-navbar></app-navbar>
<div class="container">

    <div class="left">
        <div class="box">
            <h2>{{ 'PROFILE.MY_PROFILE' | translate }}</h2>
            <div class="profile-content">
                <img src="assets/profile.png" alt="Profile Image">
                <div class="profile-details">
                    <div class="username-container">
                        <span> {{ 'PROFILE.USERNAME' | translate }}: <em>{{ loggedUser?.username }}</em></span>
                        <mat-icon fontIcon="edit" *ngIf="loggedUser !== null" (click)="openModal()"></mat-icon>
                    </div>
                    <span>{{ 'PROFILE.EMAIL' | translate }}: <em>{{ loggedUser?.mail }}</em></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="locations-container">
                <h2>{{ 'PROFILE.MY_LOCATIONS' | translate }}</h2>

                <div class="locations">
                  <span *ngFor="let loc of locations" class="location">
                    {{ loc.location }}
                      <mat-icon fontIcon="delete" class="remove-icon" (click)="openRemoveModal(loc)"></mat-icon>
                  </span>
                </div>

                <button class="add-button" (click)="openAddModal()" [disabled]="locations.length >= 5">
                    + {{ 'PROFILE.ADD_LOCATION' | translate }} +
                </button>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="right">
        <div class="box">
            <h2>{{ 'PROFILE.REVIEWS' | translate }}</h2>
            <div class="review-section">
                <app-review *ngFor="let review of reviews" [review]="review"></app-review>
                <p *ngIf="!reviews || reviews.length === 0">
                    {{ 'PROFILE.NO_REVIEWS' | translate }}
                </p>
            </div>
            <div class="pagination-container">
                <div>
                    <app-paginator *ngIf="loggedUser" [pagination]="pagination" [fetchMethod]="getReviews.bind(this)"></app-paginator>
                </div>
            </div>
        </div>
    </div>

    <!-- Username Modal -->
    <p-dialog [(visible)]="isModalOpen" [modal]="true" [style]="{ width: '25rem' }">
        <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
                <span class="font-bold whitespace-nowrap">{{ 'PROFILE.EDIT_USERNAME' | translate }}</span>
            </div>
        </ng-template>
        <input type="text" [(ngModel)]="newUsername" placeholder="{{ 'PROFILE.NEW_USERNAME' | translate }}" (input)="clearErrorMessage()" class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200" />
        <p *ngIf="usernameError" class="error-message">{{ usernameError }}</p>
        <ng-template #footer>
            <p-button label="{{ 'PROFILE.CANCEL' | translate }}" [raised]="true" severity="secondary" (click)="closeModal()" />
            <p-button label="{{ 'PROFILE.ACCEPT' | translate }}" [raised]="true" severity="success" (click)="updateUsername()" [disabled]="!isValidUsername()"/>

        </ng-template>
    </p-dialog>

    <!-- Add Location Modal -->
    <p-dialog [(visible)]="isAddModalOpen" [modal]="true" [style]="{ width: '25rem' }">
        <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
                <span class="font-bold whitespace-nowrap">{{ 'PROFILE.ADD_LOCATION' | translate }}</span>
            </div>
        </ng-template>
        <input type="text" [(ngModel)]="newLocationName" placeholder="{{ 'PROFILE.INSERT_LOCATION' | translate }}" class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"/>
        <ng-template #footer>
            <p-button label="{{ 'PROFILE.CANCEL' | translate }}" [raised]="true" severity="secondary" (click)="closeAddModal()" />
            <p-button label="{{ 'PROFILE.ACCEPT' | translate }}" [raised]="true" severity="success" (click)="addLocation(newLocationName)" />

        </ng-template>
    </p-dialog>

    <!-- Remove Location Modal -->
    <p-dialog [(visible)]="isRemoveModalOpen" [modal]="true" [style]="{ width: '25rem' }">
        <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
                <span class="font-bold whitespace-nowrap">{{ 'PROFILE.DELETE_LOCATION' | translate }}</span>
            </div>
        </ng-template>
        <span class="text-surface-500 dark:text-surface-400 block">{{ 'PROFILE.CONFIRM_DELETE_LOCATION' | translate }}"{{ locationToRemove?.location }}"?</span>
        <ng-template #footer>
            <p-button label="{{ 'PROFILE.CANCEL' | translate }}" [raised]="true" severity="secondary" (click)="closeRemoveModal()" />
            <p-button label="{{ 'PROFILE.ACCEPT' | translate }}" [raised]="true" severity="success" (click)="removeLocation()" />

        </ng-template>
    </p-dialog>

</div>