.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 8rem;
  height: 91vh;
}
.divider {
  width: 2px;
  height: 80%;
  background-color: gray;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px #0003;
  font-size: 1.2em;
  text-align: center;
  width: 80%;
}
.profile-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10%;
  margin-top: 10px;
  padding: 1rem;
}
.profile-content img {
  width: 120px;
  height: auto;
  align-items: flex-start;
  border-radius: 7rem;
}
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.profile-details span {
  text-align: left;
}
.username-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
mat-icon {
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
mat-icon:hover {
  transform: scale(1.2);
  color: #785dc8;
}
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.3s;
}
select:hover {
  background-color: #F8F4E9;
}
select:focus {
  outline: none;
  border-color: #0056b3;
}
.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.locations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.location {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid black;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
}
.remove-icon {
  margin-left: 5px;
  cursor: pointer;
}
.add-button {
  background: #b4f7b4;
  border: 1px solid green;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
}
.add-button:disabled {
  background: #b0bec5;
  border: 1px solid gray;
  cursor: not-allowed;
}
.review-section {
  display: flex;
  flex-direction: column;
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
}
.error-message {
  color: red;
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem;
  text-align: center;
}

h2 {
  font-weight: normal;
}