.pagination-icon {
    cursor: pointer;
    margin: .5rem;
    height: 2rem;
    width: 2rem;
    align-content: center;
    border-radius: 1rem;
}

.pagination-icon:hover {
    background: #d6d2c568;
}

.pagination-container mat-icon.disabled {
    cursor: not-allowed;
    color: #b0bec5;
    transform: scale(1);
}

.pagination-container mat-icon.disabled:hover {
    transform: scale(1);
    color: #b0bec5;
    background: #fcfaf8;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.page-number, .total-pages {
    margin: 0 5px;
}

.page-divider {
    font-size: 16px;
    font-weight: normal;
}