<div class="book-card" (click)="openModal()">
	<img [src]="bookImage" alt="Book Cover" class="book-image" (error)="bookImage = defaultImage">
	  
	<div class="book-info">
		<h3 class="book-title">{{ book.bookModel!.title }}</h3>
		<p *ngIf="showOwner" class="book-owner"><strong>{{ 'BOOK_CARD.OWNER' | translate }}</strong> {{ ownerName }}</p>
		<p *ngIf="showGenre" class="book-owner"><strong>{{ 'GENRE' | translate }}:</strong> {{ ('genre.' + (book.bookModel!.genre | lowercase)) | translate }}</p>
		<p *ngIf="showState" class="book-state" [ngClass]="{
			'book-state-new': book.state == 'NEW',
			'book-state-like-new': book.state == 'LIKE_NEW',
			'book-state-very-good': book.state == 'VERY_GOOD',
			'book-state-good': book.state == 'GOOD',
			'book-state-aceptable': book.state == 'ACCEPTABLE',
			'book-state-worn': book.state == 'WORN'
		}"> <strong>{{ 'BOOK_CARD.STATE' | translate }}:</strong>
			{{ ('bookstate.' + (book.state! | lowercase)) | translate }}
		</p>
	</div>
</div>

<p-dialog header="{{ 'BOOK_HOME.CREATE_PUBLICATION_HEADER' | translate}}" [modal]="true" [(visible)]="modalPublicationVisible" [style]="{ width: '30vw' }">
    <div class="selected-book-in-modal">
        <div style="grid-column: 1">
            <img class="book-image-in-modal" [src]="getBookImage()" alt="book image"/>
        </div>
        <div style="grid-column: 2; text-align: end">
            <p class="book-title">{{book.bookModel?.title}}</p>
            <p class="book-authors">{{book.bookModel?.authors}}</p>
        </div>
    </div>
    <div class="select-locations">
        <p>{{ 'BOOK_HOME.SELECT_LOCATIONS' | translate}}</p>
        <p-divider/>
        <p-select [options]="userLocations" [(ngModel)]="selectedLocations" optionLabel="location" placeholder="{{'BOOK_HOME.SELECT_LOCATION' |translate}}" class="w-full md:w-56" />
    </div>
    <div class="buttons-in-modal">
        <p-button [styleClass]="'cancel-publication-button'" label="{{ 'BOOK_HOME.CANCEL' | translate }}" class="cancel-button" (click)="closeModal()"></p-button>
        <p-button [styleClass]="'create-publication-button'" label="{{ 'BOOK_HOME.CREATE_PUB' | translate }}" class="cancel-button" (click)="createPublication()"></p-button>
    </div>

</p-dialog>