.book-card {
	width: 11vw;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 8px #00000026;
	padding: 15px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	display: grid;
	align-items: center;
	grid-template-rows: 60% 40%;
	justify-content: center;
	text-align: center;
	justify-items: center;
}

.book-card:hover {
	transform: scale(1.05);
}

.book-image {
	height: 20vh;
	width: 8vw;
	object-fit: cover;
	border-radius: 8px;
}

.book-info {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 17vh;
	overflow-y: hidden;
}

.book-title {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	height: 2.5rem;
	justify-items: center;
	align-content: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.book-owner {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

.book-state {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: x-small;
	background-color: transparent;
}

.select-locations {
	display: grid;
	grid-template-rows: 25% 25% auto;
	height: 14vh;
}

.selected-book-in-modal {
	display: grid;
	grid-template-columns: 40% 40%;
	gap: 10%;
	margin: 4%;
}

.buttons-in-modal {
	grid-template-columns: 40% 40%;
	align-content: center;
	height: 5vh;
	display: grid;
	gap: 20%;
	margin-top: 5%;
}

:host ::ng-deep .p-dialog {
	padding: 3rem;
	border-radius: 2rem;
}

:host ::ng-deep .p-dialog-title {
	font-weight: normal;
}

.book-image-in-modal {
	width: 10vh;
	border-radius: 0.5rem;
}


:host ::ng-deep .w-full {
	height: 4.5vh;
}

:host ::ng-deep .p-select-overlay {
	top: -26vh;
	height: 21vh
}
:host ::ng-deep .create-publication-button {
	background: #c0b197;
	border: none;
	justify-self: end;
}
:host ::ng-deep .create-publication-button:not(:disabled):hover {
	background: #988c78;
	border: none;
}
:host ::ng-deep .cancel-publication-button {
	background: #9a9d9e;
	border: none;
	width: 15vh;
}
:host ::ng-deep .cancel-publication-button:not(:disabled):hover {
	background: #6c6e6f;
	border:none
}
:host ::ng-deep .see-publication-button {
	background: #9a9d9e;
	border: none;
	font-size: small;
	margin: 1rem;
}
:host ::ng-deep .see-publication-button:not(:disabled):hover {
	background: #6c6e6f;
	border:none
}
:host ::ng-deep .p-select:not(.p-disabled).p-focus {
	border-color: #c2b5a0;
}


.error {
	color: red;
	font-size: small;
}

.book-state-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-icon-container {
	margin-left: 10px;
}
.book-state-select {
	width: 100%;
	padding: 8px;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #333;
	cursor: pointer;
}

.book-state-select:focus {
	border-color: #007bff;
	outline: none;
}
