<p-dropdown
        [options]="languages"
        [ngModel]="selectedLanguage$ | async"
        (ngModelChange)="changeLanguage($event)"
        optionLabel="label"
        placeholder="Select a language"
>
    <ng-template let-item pTemplate="selectedItem">
        <div class="flex align-items-center gap-2">
            <span class="fi fi-{{ item.value === 'en' ? 'us' : item.value }}"></span>
            <span>{{ item.label }}</span>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
            <span class="fi fi-{{ item.value === 'en' ? 'us' : item.value }}"></span>
            <span>{{ item.label }}</span>
        </div>
    </ng-template>
</p-dropdown>
