<app-navbar></app-navbar>

<button type="button" (click)="goBack()" class="back-button">← Regresar</button>

<div class="form-container">
	
	<h2>{{ 'BOOK_FORM.TITLE' | translate }}</h2>
	
	<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
		<div class="form-grid">
			<div class="column">
				<label>ISBN:</label>
				<input type="text" formControlName="isbn" [class.invalid]="bookForm.get('isbn')?.invalid && bookForm.get('isbn')?.touched" />
				<span *ngIf="bookForm.get('isbn')?.hasError('required') && bookForm.get('isbn')?.touched" class="error">El ISBN es obligatorio.</span>
				<span *ngIf="bookForm.get('isbn')?.hasError('pattern') && bookForm.get('isbn')?.touched" class="error">Formato incorrecto.</span>
				
				<label>{{ 'BOOK_FORM.BOOK_TITLE' | translate }}:</label>
				<input type="text" formControlName="title" [class.invalid]="bookForm.get('title')?.invalid && bookForm.get('title')?.touched" />
				<span *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched" class="error">El título es obligatorio.</span>
				
				<label>{{ 'BOOK_FORM.EDITORIAL' | translate }}:</label>
				<input type="text" formControlName="editorial" formControlName="editorial" [class.invalid]="bookForm.get('editorial')?.invalid && bookForm.get('editorial')?.touched" />
				<span *ngIf="bookForm.get('editorial')?.hasError('required') && bookForm.get('editorial')?.touched" class="error">La editorial es obligatoria.</span>
				<span *ngIf="bookForm.get('editorial')?.hasError('pattern') && bookForm.get('editorial')?.touched" class="error">Formato incorrecto.</span>
								
				<label>{{ 'BOOK_FORM.DESCRIPTION' | translate }}:</label>
				<textarea formControlName="description"></textarea>
				
				<label>{{ 'BOOK_FORM.GENRE' | translate }}:</label>
				<input type="text" formControlName="genre" />
				
				<label>{{ 'BOOK_FORM.EDITION' | translate }}:</label>
				<input type="number" formControlName="edition" />
				<span *ngIf="bookForm.get('edition')?.hasError('required') && bookForm.get('edition')?.touched" class="error">La edición es numérica y obligatoria.</span>
				<span *ngIf="(bookForm.get('edition')?.hasError('min') || bookForm.get('edition')?.hasError('max')) && bookForm.get('edition')?.touched" class="error">Fuera de rango.</span>
				
				<label>{{ 'BOOK_FORM.WEIGHT' | translate }}:</label>
				<input type="number" formControlName="weight" />
				<span *ngIf="bookForm.get('weight')?.hasError('required') && bookForm.get('weight')?.touched" class="error">La edición es numérica y obligatoria.</span>
				<span *ngIf="(bookForm.get('weight')?.hasError('min') || bookForm.get('weight')?.hasError('max')) && bookForm.get('weight')?.touched" class="error">Fuera de rango.</span>
				
				<label>{{ 'BOOK_FORM.PAGES' | translate }}:</label>
				<input type="number" formControlName="pages" />
				<span *ngIf="bookForm.get('pages')?.hasError('required') && bookForm.get('pages')?.touched" class="error">La edición es numérica y obligatoria.</span>
				<span *ngIf="(bookForm.get('pages')?.hasError('min') || bookForm.get('pages')?.hasError('max')) && bookForm.get('pages')?.touched" class="error">Fuera de rango.</span>
				
				<div class="grid" style="margin-top: 5%;">
					<div class="column">
						<label>{{ 'BOOK_FORM.IS_POCKET_EDITION' | translate }}:</label>
						<label>{{ 'BOOK_FORM.IS_HARDCOVER' | translate }}:</label>
					</div>
					<div class="column">
						<input type="checkbox" formControlName="isPocketEdition" />
						<input type="checkbox" formControlName="isHardcover" />
					</div>
				</div>
				
			</div>
		
			<div class="book-separator"></div>
		
			<div class="column">
				<label>{{ 'BOOK_FORM.LANGUAGE' | translate }}:</label>
				<select formControlName="bookLanguage">
					<option value="es">{{ 'BOOK_FORM.SPANISH' | translate }}</option>
					<option value="en">{{ 'BOOK_FORM.ENGLISH' | translate }}</option>
				</select>
				
				<label>{{ 'BOOK_FORM.DIMENSIONS' | translate }}:</label>
				<input type="text" formControlName="dimension" />
				
				<label>{{ 'BOOK_FORM.PUBLICATION_YEAR' | translate }}:</label>
				<input type="number" formControlName="publicationYear" />
				<span *ngIf="bookForm.get('publicationYear')?.hasError('pattern') && bookForm.get('publicationYear')?.touched" class="error">Formato incorrecto.</span>
				<span *ngIf="bookForm.get('publicationYear')?.hasError('max') && bookForm.get('publicationYear')?.touched" class="error">El año no puede ser superior al actual.</span>
				
				<label>{{ 'BOOK_FORM.RATING' | translate }} ({{rating}}):</label>
				<div class="star-rating">
					<ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
						<i
							class="star-icon"
							[ngClass]="star <= rating ? 'filled-star' : 'empty-star'"
							(click)="setRating(star)">
						</i>
					</ng-container>
				</div>
				<span *ngIf="bookForm.get('rating')?.hasError('min') || bookForm.get('rating')?.hasError('max')" class="error">Fuera de rango.</span>
				
				<label>{{ 'BOOK_FORM.AUTHORS' | translate }} ({{authors.length}}):</label>
								
				<div formArrayName="authors">
					<div *ngFor="let author of authors.controls; let i = index" class="author-row">
						<input type="text" [formControlName]="i" class=""/>
						<button type="button" (click)="removeAuthor(i)">❌</button>
					</div>
				</div>
				
				<button type="button" (click)="addAuthor()" class="add-author">Agregar Autor</button>
			</div>
		</div>
			
		<div class="button-group">
			<button type="submit"  class="submit-button">Guardar Libro</button>
		</div>
		
	</form>
	
</div>
