/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #FCFAF8;
    margin: 0;
    padding: 0;
}

html {
	background-color: #FCFAF8;
    margin: 0;
    padding: 0;
}
.snackbar-large {
    font-size: 1.5rem;
    padding: 16px 32px;
    min-width: 300px;
    max-width: 600px;
    width: auto;
    text-align: center;
}

.snackbar-error {
    background-color: #F2EBD8;
    color: #333333;
}

.snack-bar-button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
