<app-navbar></app-navbar>

<div class="book-home">

	<div class="column-filters">
		<app-filter-list *ngIf="showConditionFilter" [headers]="conditionHeaders" filterType="Condition"></app-filter-list>
		<app-filter-list *ngIf="showGenreFilter" [headers]="genreHeaders" filterType="Genre"></app-filter-list>
	</div>
	
	<div class="column-content">
<!-- 		<app-book-card *ngFor="let book of books" [book]="book"></app-book-card> -->
		<p class="page-title">Agregar un libro</p>
		
		<div class="no-books" *ngIf="books.length === 0">
		    <p>No se ha encontrado el libro.</p>
		    <p>Si tienes un libro que no tenemos disponible, agrégalo!</p>
		    <button class="add-book-btn">Nuevo modelo</button>
		</div>
	</div>
</div>

