.book-home {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 0.75fr 2fr;
	gap: 20px;
}

.column-filters {
	display: flex;
	flex-direction: column;
	margin: 8% 8%;
	gap: 20px;
}

.active-filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 50%;
}

.filter-left,
.filter-right {
	display: flex;
	justify-content: center;
}

.filter-badge {
	background-color: #F8F4E9;
	color: black;
	border: 1px solid rgba(235, 130, 55, 1);
	border-radius: 50px;
	padding: 12px 20px;
	font-size: 14px;
	font-weight: normal;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: background 0.2s;
}

.filter-badge:hover {
	background-color: rgba(235, 130, 55, 1);
}

.no-filter-badge {
	background-color: #F8F4E9;
	color: grey;
	border: 1px solid grey;
	border-radius: 50px;
	padding: 12px 20px;
	font-size: 14px;
	font-weight: normal;
	display: flex;
	align-items: center;
	transition: background 0.2s;
}

.column-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0% 5%;
}

.page-title {
	margin: 15px 10px;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 28px;
}

.page-filter-text {
	margin: 0;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 20px;
}

.filter-line {
	border-bottom: 2px solid rgba(160, 160, 160, 1);
	width: 100%;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
}

.filter-middle-line {
	border-bottom: 2px solid rgba(160, 160, 160, 1);
	width: 100%;
	box-shadow: 0 0px 30px rgba(0, 0, 0, 1);
}

.search-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 10px 10px;
	padding-left: 4px;
}

.search-applied {
    background-color: #e0f7fa;
    border: 1px solid #00796b;
}

.books-grid {
	display: grid;
	align-self: center;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	gap: 16px;
	padding: 16px;
	width: 100%;
	margin: auto;
	justify-items: center;
}

.book-card {
	width: 100%;
	max-width: 260px;
	background: white;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book-card:hover {
	transform: scale(1.05);
}

.book-owner,
.book-state,
.book-available {
	font-size: 14px;
	color: #666;
	margin: 5px 0;
}

.no-books {
	background: white;
	max-width: 40%;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-top: 20px;
}

.add-book-btn {
	background-color: #e6dcc8;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background 0.3s ease-in-out;
}

.add-book-btn:hover {
	background-color: #d5c4a1;
}

