.book-home {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 0.75fr 2fr;
	gap: 20px;
}

.column-filters {
	display: flex;
	flex-direction: column;
	margin: 8% 8%;
	gap: 20px;
}

.column-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0% 5%;
}

.page-title {
	margin: 15px 10px;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 28px;
}

.search-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 10px 10px;
	padding-left: 4px;
}

.book-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	width: 100%;
}

.book-card {
	width: 260px;
	background: white;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book-card:hover {
	transform: scale(1.05);
}

.book-image {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
}

.book-title {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin: 10px 0;
}

.book-owner,
.book-state,
.book-available {
	font-size: 14px;
	color: #666;
	margin: 5px 0;
}

.no-books {
	background: white;
	max-width: 40%;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-top: 20px;
}

.add-book-btn {
	background-color: #e6dcc8;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background 0.3s ease-in-out;
}

.add-book-btn:hover {
	background-color: #d5c4a1;
}
