<!-- Formulario de Recuperación de Contraseña -->
<div   *ngIf="showForm" class="flex align-items-center justify-content-center w-full h-full">
    <div class="surface-card p-4 shadow-2 border-round w-full sm:w-25rem">
        <div class="text-center mb-4">
            <h2 class="text-900">{{ 'AUTH.RECOVER_PASSWORD' |translate}}</h2>
            <p class="text-600">{{ 'AUTH.RECOVER_PASSWORD_DESCRIPTION' |translate}}</p>
        </div>

        <form [formGroup]="emailForm" (ngSubmit)="sendRecoveryCode()">
            <div class="field">
                <label for="email" class="block text-900 font-medium mb-2">{{ 'AUTH.EMAIL' |translate}}</label>
                <input formControlName="email" data-cy="email" id="email" type="email" pInputText class="w-full" name="email" required />
                <div  class="error" *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
                    <small *ngIf="emailForm.get('email')?.errors?.['required']">{{'AUTH.EMAIL_OBLIGATORY' | translate}}</small>
                    <small *ngIf="emailForm.get('email')?.errors?.['email']">{{'AUTH.EMAIL_INVALID' | translate}}</small>
                </div>
            </div>

            <div  class="error" *ngIf="errorNoSuchUser">
                <small >{{'AUTH.NO_SUCH_USER' | translate}}</small>
            </div>

            <button data-cy="submit" pButton type="submit" [disabled]="!emailForm.valid" class="w-full">{{ 'AUTH.SEND_CODE' |translate}}</button>
        </form>

        <div class="mt-2 text-center">
            <a href="/auth/login" class="text-primary">{{ 'AUTH.RETURN_LOGIN' |translate}}</a>
        </div>
    </div>
</div>

<!-- Tarjeta de Confirmación -->
<div *ngIf="showConfirmation" class="flex align-items-center justify-content-center w-full h-full">
    <div class="surface-card p-4 shadow-2 border-round w-full sm:w-25rem">
        <div class="text-center mb-4">
            <h2 data-cy="title-success" class="text-900">{{ 'AUTH.CHECK_YOUR_EMAIL' |translate}}</h2>
            <p class="text-600">{{ message }}</p>
        </div>

        <div class="mt-4 text-center">
            <a href="/auth/login" pButton label="{{ 'AUTH.RETURN_LOGIN' |translate}}" class="p-button-primary"></a>
        </div>
    </div>
</div>
