<app-navbar></app-navbar>
<div class="container">
    <div class="publication-detail-main-section" *ngIf="!exchangeSolicited" @fadeOutUp>
        <div class="publication-detail-header">
            <div class="return-button" (click)="goToPublications()">
                <i class="pi pi-arrow-left return-icon"></i>
                <p style="margin:0">{{ 'PUBLICATION_D.RETURN' | translate }}</p>
            </div>
        </div>
        <div class="publication-detail-card-section">
            <div class="publication-detail-card book-card">
                <div style="grid-column: 1; justify-items: center;">
                    <p-carousel [value]="bookImages" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="3000">
                        <ng-template let-item pTemplate="item">
                            <img class="book-image" [src]="item" alt="Book Image" />
                        </ng-template>
                    </p-carousel>
                </div>
                <div style="grid-column: 2">
                    <p class="book-title">{{publication?.book?.bookModel?.title}}</p>
                    <p class="book-authors">{{publication?.book?.bookModel?.authors}}</p>
                    <p class="book-description">{{publication?.book?.bookModel?.description}}</p>
                </div>
                <div class="book-card-third-column">
                    <p-button (click)="toggleSolicitExchange()" [styleClass]="'i-want-it-button'" label="{{ 'PUBLICATION_D.SOLICIT_BUTTON' | translate }}"></p-button>
                </div>
            </div>
            <div class="publication-detail-card book-details-card">
                <div style="grid-column: 1;align-content: center;padding: 1rem;font-size: larger">
                    <p>{{ 'PUBLICATION_D.ADDITIONAL_DETAILS' | translate}}</p>
                </div>

                <div style="grid-column: 2">
                    <div class="detail-title">
                        <i class="pi pi-address-book" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.BOOK_CONDITION' | translate}}</p>
                    </div>
                    <div class="detail">{{ publication?.book?.self }}</div>
                </div>
                <div style="grid-column: 3">
                    <div class="detail-title">
                        <i class="pi pi-map-marker" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.LOCATION' | translate}}</p>
                    </div>
                    <div class="detail">{{ publicationLocations }}</div>
                </div>
                <div style="grid-column: 4">
                    <div class="detail-title">
                        <i class="pi pi-calendar" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.DATE' | translate}}</p>
                    </div>
                    <div class="detail">{{ publication?.publicationDatetime?.toDateString() }}</div>
                </div>
                <div style="grid-column: 5">
                    <div class="detail-title">
                        <i class="pi pi-pencil" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.PUBLISHER' | translate}}</p>
                    </div>
                    <div class="detail">{{ publication?.book?.bookModel?.editorial }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="publication-detail-main-section" *ngIf="exchangeSolicited" @fadeOutIn>
        <div class="start-exchange-header">
            <div class="return-to-publication" (click)="toggleSolicitExchange()">
                <i class="pi pi-chevron-down return-icon"></i>
                <p style="margin:0">{{ 'PUBLICATION_D.RETURN_TO_DETAIL' | translate }}</p>
            </div>
        </div>
        <p-scrollpanel [style]="{height: '80vh'}">
            <div class="start-exchange-description">
                <p>{{'PUBLICATION_D.START_EXCHANGE_DESCRIPTION' | translate}}</p>
            </div>
            <div class="start-exchange-user-card">

            </div>
            <div class="start-exchange-book-section">
                <div style="grid-row: 1">
                    <p class="select-book-title">{{ 'PUBLICATION_D.SUBHEADER_BOOK' | translate}} </p>
                    <p-divider/>
                </div>
                <div style="grid-row: 2">
                    <div class="select-book-container">
                        <div
                                *ngFor="let book of books; let i = index"
                                class="book"
                                [class.selected]="selectedBookIndex === i"
                                (click)="selectBook(i)">

                        </div>
                    </div>
                    <p-paginator/>
                </div>
            </div>
            <div class="start-exchange-container">
                <div style="grid-row: 1; width: 25vw;">
                    <p class="select-book-title">{{ 'PUBLICATION_D.SUBHEADER_LOCATION' | translate}} </p>
                    <p-divider/>
                </div>
                <div class="start-exchange-location-section" style="grid-row: 2">
                    <p-select
                            [options]="userLocations"
                            [(ngModel)]="selectedLocation"
                            optionLabel="name"
                            [filter]="true" filterBy="name"
                            [showClear]="true" placeholder="Select a Country"
                            class="w-full md:w-56">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country #item>
                            <div class="flex items-center gap-2">
                                <div>{{ country }}</div>
                            </div>
                        </ng-template>
                    </p-select>
                    <div style="text-align: center">
                        <p-button [styleClass]="'i-want-it-button'"
                                  label="{{ 'PUBLICATION_D.START_EXCHANGE_BUTTON' | translate }}"
                                  (click)="requestExchange()">
                        </p-button>
                    </div>
                </div>

            </div>
            <div class="start-exchange-button-section">

            </div>
        </p-scrollpanel>
    </div>
</div>