.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 91vh;
    width: 100vw;
}

.publication-detail-header {
    text-align: start;
}

.publication-detail-main-section {
    width: 90vw;
    margin: 3rem;
}

.publication-detail-card-section {
    justify-content: center;
    height: auto;
}

.publication-detail-card {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 4px 6px 6px #0000001a;
    color: #2c1809;
    display: grid;
    padding: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.book-details-card {
    height: 15vh;
}

.book-card {
    height: 57vh;
    grid-template-columns: 24% 45%;
    gap: 5%;
}

.book-image {
    height: 90%;
    width: 80%;
    background-color: darkgray;
    border-radius: 0.75rem;
}

.book-authors {
    font-size: larger;
}

.book-description {
    font-size: medium;
    word-wrap: break-word;
    overflow-y: clip;
    height: 30vh;
}

.book-title {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.book-card-third-column {
    grid-column: 3;
    align-content: center;
    text-align: center;
}

:host ::ng-deep .i-want-it-button {
    background-color: #aca28c;
    color: #ffffff;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
    cursor: pointer;
}

:host ::ng-deep .i-want-it-button:not(.disabled):hover {
    background-color: #8c7b5f;
    transition: transform 0.2s;
    transform: scale(1.1);
    border: none;
}
:host ::ng-deep .i-want-it-button:not(.disabled):active {
    background-color: #8c7b5f;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
}