.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
}

.publication-detail-header {
    text-align: start;
}

.publication-detail-main-section {
    width: 90vw;
    position: absolute;
    height: 82vh;
}

.publication-detail-card-section {
    justify-content: center;
    height: auto;
}

.publication-detail-card {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 4px 6px 6px #0000001a;
    color: #2c1809;
    display: grid;
    padding: 2rem;
    margin-top: 1.5rem;
}

.book-details-card {
    height: 22vh;
    grid-template-columns: auto 15% 15% 15% 15%;
    gap: 3%;
    align-items: center;
}

.book-card {
    height: 57vh;
    grid-template-columns: 32% 35%;
    gap: 5%;
}

.book-image {
    height: 34vh;
    width: 14vw;
    background-color: #a9a9a9;
    border-radius: .75rem
}

.book-authors {
    font-size: larger;
}

.book-description {
    font-size: medium;
    word-wrap: break-word;
    overflow-y: clip;
    height: 30vh;
}

.book-title {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.book-card-third-column {
    grid-column: 3;
    align-content: center;
    text-align: center;
    height: 90%;
}

:host ::ng-deep .i-want-it-button {
    background-color: #aca28c;
    color: #ffffff;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
    cursor: pointer;
    height: 4rem;
    width: 15rem;
}

:host ::ng-deep .i-want-it-button:not(.disabled):hover {
    background-color: #8c7b5f;
    transition: transform 0.2s;
    transform: scale(1.1);
    border: none;
}
:host ::ng-deep .i-want-it-button:not(.disabled):active {
    background-color: #8c7b5f;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
}


:host ::ng-deep .p-carousel-viewport  {
    text-align: center;
}

:host ::ng-deep .p-carousel-item {
    align-self: center;
}
:host ::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
    background: #aca28c;
}

:host ::ng-deep .p-carousel-content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 20vw;
}

.return-button {
    width: 17%;
    flex-direction: row;
    display: flex;
    border-radius: 1rem;
    padding: .5rem;
    gap: 9%;
    cursor: pointer;
    font-size: small;
    margin-top: 1rem;
}


.return-to-publication {
    width: 17%;
    flex-direction: row;
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    gap: 9%;
    cursor: pointer;
}

.start-exchange-header {
    text-align: center;
    justify-items: center;
    color: #2c250a;
}


.return-button:hover {
    background: #aca28c29;
    font-weight: bold;
}

.return-icon {
    font-size: medium;
}



.detail-title {
    display: flex;
    gap: 5%;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.detail {
    font-size: medium;
    padding: 1rem;
    text-align: center;
    word-break: break-word;
}

p {
    margin: 0;
}


.form-scroll-section {
    width: 100%;
    height: 81vh;
    overflow-y: scroll;
}


.start-exchange-container {
    width: auto;
    padding: 2rem;
}



.start-exchange-location-section {
    display: grid;
    height: 15vh;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.start-exchange-book-section {
    width: 100%;
    padding: 1rem;
    height: auto;
    grid-template-rows: 10% 90%;
    display: grid;
    gap: 5%;
}

.book-image-select {
    height: 11rem;
    width: 8vw;
    border-radius: 0.5rem;
}

.start-exchange-button-section {
    width: auto;
}

.start-exchange-user-card {
    width: 100%;
    background: white;
    height: 25vh;
    border-radius: 2rem;
    box-shadow: 4px 6px 6px #0000001a;
    padding: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 15% 22% auto;
    display: grid;
    gap: 4%;
}

.user-card-first-column {
    grid-column: 1;
    justify-items: center;
    text-align: center;
    align-content: center;
}

.user-card-second-column {
    grid-column: 2;
    align-content: center;
}

.user-card-third-column {
    grid-column: 3;
    justify-items: end;
    align-content: center;
    margin: 2.5rem;
}

.book-image-small-card {
    height: 90%;
    width: 80%;
    background-color: darkgray;
    border-radius: 0.75rem;
}

.book-authors-small-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.book-description-small-card {
    font-size: small;
    word-wrap: break-word;
    overflow-y: clip;
    height: 5vh;
}

.book-title-small-card {
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


:host ::ng-deep .p-scrollpanel-content-container {
    padding: 2rem;
    height: 100%;
}

:host ::ng-deep .w-full {
    align-self: center;
}


:host ::ng-deep .request-exchange-button {
    justify-self: center;
}



:host ::ng-deep .p-button {
    text-align: center
}




.select-book-container {
    width: auto;
}

.select-book-title {
    font-size: small;
}

:host ::ng-deep .p-paginator {
    background: transparent;
}


:host ::ng-deep .p-scrollpanel-content {
    width: 65vw;
    justify-self: center;
}

.book {
    border-radius: .5rem;
    height: 12rem;
    width: 9vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book:hover {
    background-color: #ddd;
}

.book.selected {
    background-color: #564c2359;
}

.select-book-container {
    display: grid;
    grid-template-columns: repeat(6, 0.5fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.select-book-container-empty {
    width: auto;
    margin: 1rem;
    align-content: center;
    text-align: center;
    padding: 2rem;
}

.start-exchange-description {
    width: auto;
    font-size: x-large;
    text-align: start;
}



:host ::ng-deep .custom-select.p-select-overlay {
    top: -30vh;
    height: 25vh;
}

.tooltip-description {
    font-size: small;
    margin: 1rem;
    height: 10vh;
    overflow-y: hidden;
}
.tooltip-title {
    font-size: large;
    margin: 1rem;
}
.tooltip-authors {
    font-size: medium;
    margin: 1rem;
}
:host ::ng-deep .p-tooltip {
    max-height: 10vh;
    background: #aaaaaa;
}


.text-empty {
    width: auto;
    text-align: center;
    padding: 1rem;
}

:host ::ng-deep .p-button.empty-button {
    color: black;
    background: #b6ab89;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1);
}



:host ::ng-deep .redirect-buttons {
    background-color: #767676a1;
    color: #ffffff;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
    cursor: pointer;
    height: 3rem;
    width: 12rem;
}


:host ::ng-deep .redirect-buttons:not(.disabled):hover {
    background-color: #8c7b5f;
    transition: transform 0.2s;
    transform: scale(1.1);
    border: none;
}
:host ::ng-deep .redirect-buttons:not(.disabled):active {
    background-color: #8c7b5f;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
}


.error {
    color: red;
    font-size: small;
    margin: 2rem
}



.select-locations {
    display: grid;
    grid-template-rows: auto;
    height: 14vh;
    padding: 1rem;
}



.selected-book-in-modal {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
    margin: 4%;
}


.book-image-in-modal {
    width: 10vh;
    border-radius: 0.5rem;
}


.book-title-modal {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    justify-items: center;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-location-button {
    padding: .5rem;
    border-radius: 1rem;
}


.add-location-button:hover {
    background: #aaaaaa;
}


.buttons-in-modal {
    grid-template-columns: 40% 40%;
    align-content: center;
    height: 5vh;
    display: grid;
    gap: 20%;
    margin-top: 5%;
    justify-items: center;
}



:host ::ng-deep .create-publication-button {
    background: #c0b197;
    border: none;
    justify-self: end;
}
:host ::ng-deep .create-publication-button:not(:disabled):hover {
    background: #988c78;
    border: none;
}
:host ::ng-deep .cancel-publication-button {
    background: #9a9d9e;
    border: none;
    width: 15vh;
}
:host ::ng-deep .cancel-publication-button:not(:disabled):hover {
    background: #6c6e6f;
    border:none
}


:host ::ng-deep .p-dialog-content {
    overflow-y: visible;
}