<app-navbar></app-navbar>
<div class="container">
    <div class="publication-detail-main-section" *ngIf="!exchangeSolicited" @fadeOutUp>
        <div class="publication-detail-header">
            <div class="return-button" (click)="goBack()">
                <i class="pi pi-arrow-left return-icon"></i>
                <p style="margin:0">{{ 'PUBLICATION_D.RETURN' | translate }}</p>
            </div>
        </div>
        <div class="publication-detail-card-section">
            <div class="publication-detail-card book-card">
                <div style="grid-column: 1; justify-items: center;">
                    <p-carousel [value]="getBooksImages(bookImages)" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="3000">
                        <ng-template let-item pTemplate="item">
                            <img class="book-image" [src]="item" alt="Book Image" />
                        </ng-template>
                    </p-carousel>
                </div>
                <div style="grid-column: 2">
                    <p class="book-title">{{publication?.book?.bookModel?.title}}</p>
                    <p class="book-authors">{{publication?.book?.bookModel?.authors}}</p>
                    <p class="book-description">{{publication?.book?.bookModel?.description}}</p>
                </div>
                <div [hidden]="!userIsLogged" class="book-card-third-column">
                    <p-button data-cy="exchange-button" *ngIf="(!isUserPublication()) && userIsLogged" (click)="toggleSolicitExchange()" [styleClass]="'i-want-it-button'" label="{{ 'PUBLICATION_D.SOLICIT_BUTTON' | translate }}"></p-button>
                    <div *ngIf="isUserPublication() && userIsLogged">
                        <p>{{ 'PUBLICATION_D.YOUR_PUBLICATION' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="publication-detail-card book-details-card">
                <div style="grid-column: 1;align-content: center;padding: 1rem;font-size: larger">
                    <p>{{ 'PUBLICATION_D.ADDITIONAL_DETAILS' | translate}}</p>
                </div>

                <div style="grid-column: 2;gap: 2%;display: grid;">
                    <div class="detail-title">
                        <i class="pi pi-address-book" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.BOOK_CONDITION' | translate}}</p>
                    </div>
                    <div class="detail">{{ getConditionTranslation(publication?.book?.state)  }}</div>
                </div>
                <div style="grid-column: 3;text-align: center;">
                    <div class="detail-title">
                        <i class="pi pi-map-marker" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.LOCATION' | translate}}</p>
                    </div>
                    <div class="detail">{{ publicationLocations }}</div>
                    <i data-cy="edit-locations" *ngIf="isUserPublication() && userIsLogged" class="pi pi-plus-circle add-location-button" style="cursor: pointer; justify-items: center;" (click)="toggleEditModal()"></i>
                </div>
                <div style="grid-column: 4">
                    <div class="detail-title">
                        <i class="pi pi-calendar" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.DATE' | translate}}</p>
                    </div>
                    <div class="detail">{{ getFormattedDate(publication?.publicationDatetime) }}</div>
                </div>
                <div style="grid-column: 5">
                    <div class="detail-title">
                        <i class="pi pi-pencil" style="font-size: 1.25rem;"></i>
                        <p>{{ 'PUBLICATION_D.PUBLISHER' | translate}}</p>
                    </div>
                    <div class="detail">{{ publication?.book?.bookModel?.editorial }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="publication-detail-main-section" *ngIf="exchangeSolicited" @fadeOutIn>
        <div class="start-exchange-header">
            <div class="return-to-publication" (click)="toggleSolicitExchange()">
                <i class="pi pi-chevron-down return-icon"></i>
                <p style="margin:0">{{ 'PUBLICATION_D.RETURN_TO_DETAIL' | translate }}</p>
            </div>
        </div>
        <p-scrollpanel [style]="{height: '90%'}">
            <div class="start-exchange-description">
                <p>{{'PUBLICATION_D.START_EXCHANGE_DESCRIPTION' | translate}}</p>
            </div>
            <div class="start-exchange-user-card">
                <div class="user-card-first-column">
                    <img class="book-image-small-card" [src]="getCover(publication?.book)" alt="Book Image" />
                </div>
                <div class="user-card-second-column">
                    <p class="book-title-small-card">{{publication?.book?.bookModel?.title}}</p>
                    <p class="book-authors-small-card">{{publication?.book?.bookModel?.authors}}</p>
                    <p class="book-description-small-card">{{publication?.book?.bookModel?.description}}</p>
                </div>
                <div class="user-card-third-column">
                    <p style="font-size: large">{{'PUBLICATION_D.USER'|translate}}</p>
                    <p style="margin-top: 0.5rem; margin-bottom: 0.5rem; font-size: small;">{{publication?.user?.username}}</p>
                    <p-rating *ngIf="publication?.user?.ratingCount !== 0" type="number" [(ngModel)]="userRating" [readonly]="true" />
                    <p *ngIf="publication?.user?.ratingCount === 0" style="font-size: x-small">{{'PUBLICATION_D.NO_REVIEWS' | translate}}</p>
                </div>
            </div>
            <div class="start-exchange-book-section">
                <div style="grid-row: 1">
                    <p class="select-book-title">{{ 'PUBLICATION_D.SUBHEADER_BOOK' | translate}} </p>
                    <p-divider/>
                </div>
                <div style="grid-row: 2">
                    <div class="select-book-container" *ngIf="userBooks.length !== 0 && !loading">
                            <div *ngFor="let book of userBooks; let i = index"
                                 class="book"
                                 data-cy="books"
                                [class.selected]="selectedBookIndex === i"
                                (click)="selectBook(i)">
                                <img class="book-image-select" [pTooltip]="tooltipContent" [src]="getCover(book)" alt="{{book.bookModel?.title}}"/>
                                <ng-template #tooltipContent class="book-tooltip">
                                    <div class="book-tooltip">
                                        <p class="tooltip-title">{{book.bookModel?.title}}</p>
                                        <p class="tooltip-authors">{{book.bookModel?.authors}}</p>
                                        <p class="tooltip-description">{{book.bookModel?.description}}<</p>
                                    </div>
                                </ng-template>
                            </div>
                    </div>
                    <div class="select-book-container-empty" *ngIf="userBooks.length === 0 && !loading" >
                        <p class="text-empty">{{ 'PUBLICATION_D.NO_BOOKS' | translate}}</p>
                        <p-button [styleClass]="'redirect-buttons'" label="{{ 'PUBLICATION_D.ADD_BOOK' | translate}}" icon="pi pi-book" (click)="redirectToBookModels()" />
                    </div>
                    <div style="align-content: center;text-align: center;height: 15vh;" *ngIf="loading">
                        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                    </div>
                    <app-paginator *ngIf="userBooks.length !== 0 && !firstLoad" [pagination]="pagination" [fetchMethod]="loadBooksData.bind(this)"></app-paginator>

                    <p *ngIf="errorNoBook" class="error">{{'PUBLICATION_D.NO_BOOK_ERROR' |translate }}</p>
                </div>
            </div>
            <div class="start-exchange-container">
                <div style="grid-row: 1; width: 25vw;">
                    <p class="select-book-title">{{ 'PUBLICATION_D.SUBHEADER_LOCATION' | translate}} </p>
                    <p-divider/>
                </div>
                <div class="start-exchange-location-section" style="grid-row: 2">
                    <div>
                        <p-select *ngIf="(userLocations.length !== 0)"
                                [panelStyleClass]="'custom-select'"
                                [options]="(userLocations) || []"
                                [(ngModel)]="selectedLocation"
                                optionLabel="location"
                                placeholder="{{'BOOK_HOME.NO_LOCATION_ERROR' |translate}}"
                                class="w-full md:w-56"></p-select>
                        <p *ngIf="errorNoLocation" class="error">{{ 'BOOK_HOME.SELECT_LOCATION'|translate }}</p>
                    </div>
                    <div *ngIf="(userLocations.length === 0)"  style="text-align: center; margin: 1rem;grid-column: 1;" >
                        <p class="text-empty">{{ 'PUBLICATION_D.NO_LOCATIONS' | translate}}</p>
                        <p-button [styleClass]="'redirect-buttons'" label="{{ 'PUBLICATION_D.ADD_LOCATIONS' | translate}}" icon="pi pi-map-marker" (click)="redirectToProfile()" />
                    </div>
                    <div style="text-align: center;align-content: center;">
                        <p-button data-cy="exchange"
                                [styleClass]="'i-want-it-button'"
                                  label="{{ 'PUBLICATION_D.START_EXCHANGE_BUTTON' | translate }}"
                                  (click)="requestExchange()">
                        </p-button>
                    </div>
                </div>

            </div>
            <div class="start-exchange-button-section">

            </div>
        </p-scrollpanel>
    </div>
</div>

<p-dialog header="{{ 'PUBLICATION_D.EDIT_LOCATIONS' | translate }}" [modal]="true" [(visible)]="modalEditLocationsVisible" [style]="{ width: '30vw' }">
    <div class="selected-book-in-modal">
        <div style="grid-column: 1">
            <img class="book-image-in-modal" [src]="getCover(publication?.book)" alt="book image"/>
        </div>
        <div style="grid-column: 2; text-align: end">
            <p class="book-title-modal">{{publication?.book?.bookModel?.title}}</p>
            <p class="book-authors-modal">{{publication?.book?.bookModel?.authors}}</p>
        </div>
    </div>
    <div  *ngIf="(userLocations.length !== 0)" class="select-locations">
        <p>{{ 'PUBLICATION_D.SELECT_LOCATIONS' | translate}}</p>
        <p-divider/>
        <p-select data-cy="locations-select" [options]="userLocations || []" [(ngModel)]="selectedAddLocation" optionLabel="location" placeholder="{{'BOOK_HOME.SELECT_LOCATION' |translate}}" class="w-full md:w-56" />
        <p *ngIf="errorNoAddLocation" class="error">{{ 'PUBLICATION_D.NO_LOCATION_ERROR' | translate }}</p>
    </div>
    <div *ngIf="(userLocations.length === 0)"  style="text-align: center; margin: 1rem;" >
        <p class="text-empty">{{ 'PUBLICATION_D.NO_NEW_LOCATIONS' | translate}}</p>
        <p-button [styleClass]="'redirect-buttons'" label="{{ 'PUBLICATION_D.ADD_LOCATIONS' | translate}}" icon="pi pi-map-marker" (click)="redirectToProfile()" />
    </div>
    <div *ngIf="(userLocations.length !== 0)" class="buttons-in-modal">
        <p-button [styleClass]="'cancel-publication-button'" label="{{ 'BOOK_HOME.CANCEL' | translate }}" class="cancel-button" (click)="toggleEditModal()"></p-button>
        <p-button data-cy="submit" [styleClass]="'create-publication-button'" label="{{ 'PUBLICATION_D.CONFIRM' | translate }}" class="cancel-button" (click)="editPublicationLocations()"></p-button>
    </div>
</p-dialog>