.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 91vh;
    width: 100vw;
}

.publication-detail-header {
    text-align: start;
}

.publication-detail-main-section {
    width: 90vw;
    margin: 3rem;
    position: absolute;
    height: 82vh;
}

.publication-detail-card-section {
    justify-content: center;
    height: auto;
}

.publication-detail-card {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 4px 6px 6px #0000001a;
    color: #2c1809;
    display: grid;
    padding: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.book-details-card {
    height: 17vh;
    grid-template-columns: auto 15% 15% 15% 15%;
    gap: 3%;
}

.book-card {
    height: 57vh;
    grid-template-columns: 32% 45%;
    gap: 5%;
}

.book-image {
    height: 90%;
    width: 80%;
    background-color: darkgray;
    border-radius: 0.75rem;
}

.book-authors {
    font-size: larger;
}

.book-description {
    font-size: medium;
    word-wrap: break-word;
    overflow-y: clip;
    height: 30vh;
}

.book-title {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.book-card-third-column {
    grid-column: 3;
    align-content: center;
    text-align: center;
}

:host ::ng-deep .i-want-it-button {
    background-color: #aca28c;
    color: #ffffff;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
    cursor: pointer;
}

:host ::ng-deep .i-want-it-button:not(.disabled):hover {
    background-color: #8c7b5f;
    transition: transform 0.2s;
    transform: scale(1.1);
    border: none;
}
:host ::ng-deep .i-want-it-button:not(.disabled):active {
    background-color: #8c7b5f;
    box-shadow: 4px 6px 6px #0000001a;
    border: none;
}


:host ::ng-deep .p-carousel-viewport  {
    text-align: center;
}

:host ::ng-deep .p-carousel-item {
    align-self: center;
}
:host ::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
    background: #aca28c;
}

.return-button {
    width: 17%;
    flex-direction: row;
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    gap: 9%;
    cursor: pointer;
}

.return-to-publication {
    width: 17%;
    flex-direction: row;
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    gap: 9%;
    cursor: pointer;
}

.start-exchange-header {
    text-align: center;
    justify-items: center;
    color: #2c250a;
}


.return-button:hover {
    background: #aca28c29;
    font-weight: bold;
}

.return-icon {
    font-size: medium;
}



.detail-title {
    display: flex;
    gap: 5%;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.detail {
    font-size: medium;
    padding: 1rem;
    text-align: center;
    word-break: break-word;
}

p {
    margin: 0;
}


.form-scroll-section {
    width: 100%;
    height: 81vh;
    overflow-y: scroll;
}


.start-exchange-container {
    width: auto;
}



.start-exchange-location-section {
    display: grid;
    height: 4vh;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 5%;
    margin: 3rem;
}

.start-exchange-book-section {
    width: 100%;
    padding: 1rem;
    height: 50vh;
    grid-template-rows: 10% 90%;
    display: grid;
}

.start-exchange-button-section {
    width: auto;
}

.start-exchange-user-card {
    width: 100%;
    background: white;
    height: 25vh;
    border-radius: 2rem;
    box-shadow: 4px 6px 6px #0000001a;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 15% 22% auto;
    display: grid;
    gap: 4%;
}

.user-card-first-column {
    grid-column: 1;
    justify-items: center;
    text-align: center;
    align-content: center;
}

.user-card-second-column {
    grid-column: 2;
    align-content: center;
}

.user-card-third-column {
    grid-column: 3;
    justify-items: end;
    align-content: center;
    margin: 2.5rem;
}

.book-image-small-card {
    height: 90%;
    width: 80%;
    background-color: darkgray;
    border-radius: 0.75rem;
}

.book-authors-small-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.book-description-small-card {
    font-size: small;
    word-wrap: break-word;
    overflow-y: clip;
    height: 5vh;
}

.book-title-small-card {
    font-size: xx-large;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


:host ::ng-deep .p-scrollpanel-content-container {
    padding: 2rem;
    height: 81vh;
}

:host ::ng-deep .w-full {
    width: 70% !important;
}


:host ::ng-deep .request-exchange-button {
    justify-self: center;
}



:host ::ng-deep .p-button {
    text-align: center
}




.select-book-container {
    width: auto;
}

.select-book-title {
    font-size: medium;
}

:host ::ng-deep .p-paginator {
    background: transparent;
}


:host ::ng-deep .p-scrollpanel-content {
    width: 65vw;
    justify-self: center;
}

.book {
    background: #a9a9a9;
    border-radius: .5rem;
    height: 9rem;
    width: 7rem;
    cursor: pointer;
    margin: 1rem;
    align-self: center;
    justify-self: center;transition: background-color 0.3s ease;
}

.book:hover {
    background-color: #ddd;
}

.book.selected {
    background-color: #564c2359;
}

.select-book-container {
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    justify-content: center;
}
.start-exchange-description {
    width: auto;
    font-size: x-large;
    text-align: start;
}



:host ::ng-deep .custom-select.p-select-overlay {
    top: -30vh;
}
