<app-navbar></app-navbar>
<div class="container">
    <div class="publication-detail-main-section">
        <div class="publication-detail-header">
            <p>{{ 'PUBLICATION_D.RETURN' | translate }}</p>
        </div>
        <div class="publication-detail-card-section">
            <div class="publication-detail-card book-card">
                <div style="grid-column: 1; justify-items: center;">
                    <div class="book-image"></div>
                </div>
                <div style="grid-column: 2">
                    <p class="book-title">Title</p>
                    <p class="book-authors">Author</p>
                    <p class="book-description">roenvronvrievnorvnpvwnronowenopewnvewnvw
                    rnrovnovnreovnrovnrovnronvrovvnorvnrovnrnvrovnr
                    rornorvnornonrvornvornvrovnrovnrovnnnnnnnvvvvvvvvvvvvvvvvvvvvvvvvv
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaquieroterminarestoooooooaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="book-card-third-column">
                    <p-button [styleClass]="'i-want-it-button'" label="{{ 'PUBLICATION_D.SOLICIT_BUTTON' | translate }}"></p-button>
                </div>
            </div>
            <div class="publication-detail-card book-details-card">
                <p>boo</p>
            </div>
        </div>
    </div>
</div>