.publication-card-container {
	width: 55vw;
	max-height: 35vh;
	background: #fff;
	box-shadow: 4px 6px 6px #0000001a;
	border-radius: 2rem;
	padding: 0.5rem 2rem;
	transition: transform .2s;
	cursor: pointer;
	align-content: center;
	display: grid;
	grid-template-columns: 20% 60% auto;
	gap: 5%;
	overflow: hidden;
}

.publication-card-container:hover {
	transform: scale(1.05);
	background-color: rgba(240, 232, 210, 0.9);
}

.first-column-card {
	grid-column: 1;
	align-content: center;
}

.second-column-card {
	grid-column: 2;
}
.third-column-card {
	grid-column: 3;
}

.publisher-text-card {
	font-size: x-small;
}

.description-text-card {
	font-size: medium;
	max-height: 4rem;
	overflow-y: clip;
}

.title-text-card {
	font-size: x-large;
}

.authors-text-card {
	font-size: small;
}

.book-image {
	width: 10vw;
	height: auto;
	border-radius: 0.5rem;
	align-self: center;
}