<div class="publication-card-container" (click)="!isEliminated && goToPublicationDetail()"  [ngClass]="{ 'publication-card-disabled': isEliminated }">
	<div class="image-column">
		<img [src]="bookImage" alt="Book Cover" class="book-image" (error)="bookImage = defaultImage">
	</div>
	<div class="book-data-column">
		<p class="title-text">{{ publication.book?.bookModel?.title }}</p>
		<div class="book-info">
			<p class="year-genre-text">{{ publication.book?.bookModel?.publicationYear }}, {{ ('genre.' + (publication.book?.bookModel?.genre | lowercase)) | translate }}</p>
			<p class="editorial-edition-text">({{ publication.book?.bookModel?.editorial }}, {{ publication.book?.bookModel?.edition }}° {{ 'BOOK_FORM.EDITION' | translate }})</p>
		</div>
		<p *ngIf="!publication.locations || publication.locations!.length < 2" class="locations-text"><strong>{{ 'BOOK_FORM.LOCATION' | translate }}: </strong>{{ getFormattedLocations(publication) }}</p>
		<p *ngIf="publication.locations && publication.locations!.length > 1" class="locations-text"><strong>{{ 'BOOK_FORM.LOCATIONS' | translate }}: </strong>{{ getFormattedLocations(publication) }}</p>
	</div>
	
	<div class="auxiliar-column" *ngIf="!isEliminated">
		<div class="icons-container">
			<i *ngIf="showTrashCan && isOwnPublication" class="trash-icon pi pi-trash" (click)="onDeletePublication($event, publication)"></i>
			<i *ngIf="showIsMine && isOwnPublication" class="is-owner-text">({{ 'PUBLICATION_D.YOURS' | translate }})</i>
			<i *ngIf="!showIsMine && isOwnPublication" class="is-owner-text">({{ getFormattedDate(publication?.publicationDatetime) }})</i>
			<i *ngIf="showLikeHeart && !isOwnPublication && loggedUser" class="heart-icon pi" [ngClass]="publication.favoritePublication ? 'pi-heart-fill liked' : 'pi-heart'" (click)="toggleLike($event)"></i>
		</div>

		<div class="rating-container">
			<p class="rating-text">{{ publication.book!.bookModel!.averageRating }}</p>
			<ng-container class="stars-container" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
				<i class="star-icon" [ngClass]="star <= publication.book!.bookModel!.averageRating ? 'filled-star' : 'empty-star'"></i>
			</ng-container>
			<p class="rating-text">({{ publication.book!.bookModel!.ratingCount }})</p>
		</div>
	</div>

	<div *ngIf="isEliminated" class="auxiliar-column">
		<p class="eliminated-text">{{ 'PUBLICATION_D.ELIMINATED' | translate }}</p>
	</div>
</div>