.publication-card-container {
	width: 58vw;
	height: 130px;
	background: #fff;
	box-shadow: 4px 6px 6px #0000001a;
	border-radius: 1rem;
	padding: 2vh;
	transition: transform .2s;
	cursor: pointer;
	align-content: center;
	display: grid;
	overflow: hidden;
	grid-template-columns: .4fr 2fr auto;
	margin: 5px 36px;
}

.publication-card-container:hover {
	transform: scale(1.05);
	background-color: rgba(240, 232, 210, 0.9);
}

.image-column {
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-data-column {
	grid-column: 2;
	padding-left: 20px;
	max-height: 130px;
}

.auxiliar-column {
	grid-column: 3;
	display: grid;
}

.title-text {
	font-size: 22px;
	font-style: normal;
	margin: 10px 0 10px 0;
}

.book-info {
	display: flex;
	align-items: center;
}

.year-genre-text {
	font-size: 15px;
	padding-right: 20px;
	margin: 10px 0 10px 0;
}

.editorial-edition-text {
	font-size: 12px;
}

.locations-text {
	font-size: 14px;
}

.book-image {
	height: 110px;
	width: auto;
	border-radius: .5rem;
}

.rating-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	margin: 1rem;
}

.star-icon {
	font-size: 25px;
	font-style: normal;
	margin-bottom: 4px;
}

.filled-star::before {
	content: "★";
	color: #ddaa77;
}

.empty-star::before {
	content: "☆";
	color: #bbb;
}

.rating-text {
	font-size: 15px;
	font-style: normal;
	color: #998877;
	margin: 0;
	padding: 0 6px 0 6px;
}

.icons-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.trash-icon {
	grid-column: 1;
	font-size: 20px;
	color: rgba(235, 130, 55, 1);
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	align-self: center;
	pointer-events: auto;
}

.trash-icon:hover {
	color: rgba(150, 150, 50, 1);
}

.is-owner-text {
	grid-column: 2;
	font-size: 13px;
	font-style: italic;
	color: #887766;
	align-self: center;
}

.heart-icon {
	grid-column: 3;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.3s ease;
	align-self: center;
	margin-left: auto;
	pointer-events: auto;
}

.heart-icon.pi-heart {
	color: rgba(190, 190, 190, 1);
}

.heart-icon.pi-heart:hover {
	color: rgba(235, 130, 55, 1);
}

.heart-icon.pi-heart-fill.liked {
	color: rgba(235, 130, 55, 1);
}

.heart-icon.pi-heart-fill.liked:hover {
	color: rgba(150, 150, 50, 1);
}

.eliminated-text {
	font-size: 16px;
	font-weight: normal;
	align-self: center;
	padding-right: 28px;
}

.publication-card-disabled {
	pointer-events: none;
	opacity: 0.5;
	filter: grayscale(50%);
}