<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{email.subjectRejection}"></title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #e0e0e0; border-radius: 10px;">
    <p th:text="#{email.greeting}" style="font-size: 18px; font-weight: bold;"></p>
    <p th:text="#{email.rejectionMessage}" style="font-size: 16px;"></p>

    <p>
        <strong th:text="#{email.requestedPublication}" style="font-size: 16px; font-weight: bold;"></strong>
        <span th:text="${offeredBook}" style="font-size: 16px;"></span>
    </p>

    <p>
        <strong th:text="#{email.offeredPublication}" style="font-size: 16px; font-weight: bold;"></strong>
        <span th:text="${requestedBook}" style="font-size: 16px;"></span>
    </p>

    <p th:text="#{email.rejectionThankYouMessage}" style="font-size: 16px;"></p>

    <a th:href="@{${publicationsUrl}}"
       style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #ffffff; background-color: #3d38bf; text-decoration: none; border-radius: 5px; text-align: center; margin-top: 20px;"
       th:text="#{email.publications}"></a>
</div>
</body>
</html>
