<card-page
	[pageTitle]="'PUBLICATIONS.TITLE' | translate"
	[fetchMethod]="fetchPublications"
	[items]="publications"
	[showSearchBar]="true"
	[displaySort]="true"
	[displayGridStyle]="false"
	[cardTemplate]="publicationCardTemplate"
></card-page>

<ng-template #publicationCardTemplate let-publication>
	<publication-card data-cy="publications" [publication]="publication" [loggedUser]="loggedUser" [showLikeHeart]="true" [showTrashCan]="false" [showIsMine]="true"></publication-card>
</ng-template>