<app-navbar></app-navbar>

<div class="publications-home">

	<div class="column-filters">
		<p class="page-filter-text">{{ 'FILTERS' | translate }}</p>
		<div class="filter-line"></div>
		<app-filter-list [headers]="conditionHeaders" filterType="Condition" *ngIf="showConditionFilter">></app-filter-list>
		<div class="filter-line"></div>
		<app-filter-list [headers]="genreHeaders" filterType="Genre" *ngIf="showGenreFilter"></app-filter-list>
		<div class="filter-line"></div>
	</div>
	
	<div class="column-content">

		<p class="page-title">{{ 'PUBLICATIONS.TITLE' | translate }}</p>
		
		<div class="search-info">
			<p>{{ 'TOTAL_RESULTS' | translate }}: {{ publications.length }}</p>
			<div class="active-filters">
				<div class="filter-left">
					<button *ngIf="currentFilters.state" class="filter-badge" (click)="removeFilter('state')">
						{{ currentFilters.state | translate }} ✕
					</button>
					<button *ngIf="!currentFilters.state" class="no-filter-badge">
						{{ 'NO_STATE_FILTER' | translate }}
					</button>
				</div>
				<div class="filter-right">
					<button *ngIf="currentFilters.genre" class="filter-badge" (click)="removeFilter('genre')">
						{{ currentFilters.genre | translate }} ✕
					</button>
					<button *ngIf="!currentFilters.genre" class="no-filter-badge">
						{{ 'NO_GENRE_FILTER' | translate }}
					</button>
				</div>
			</div>
			<app-sort></app-sort>
		</div>
		
		<div class="publications-grid">
<!-- 			<app-book-card *ngFor="let publication of publications" [book]="book" [showOwner]="false" [showGenre]="true" [showState]="true"></app-book-card> -->
		</div>
		
	</div>
</div>