.add-book-btn {
	background-color: #e6dcc8;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background 0.3s ease-in-out;
}

.add-book-btn:hover {
	background-color: #d5c4a1;
}


.text-empty {
	width: auto;
	text-align: center;
}



:host ::ng-deep .p-button.empty-button {
	color: black;
	background: #b6ab89;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transform: scale(1);
}


.section-empty {
	align-content: center;
	justify-items: center;
	height: 60vh;
}
